<div id="pageTwo" class="page visible">
  <!-- What is this here for? -->
  <!-- <nav>
    <a [routerLink]="['.']" *ngFor="let nav of templates" fragment="app-{{nav}}">{{nav | capitalize}}</a>
  </nav> -->
  <nav>
    <a pageScroll href="#generic">Generic</a>
    <a pageScroll href="#prepare">Prepare</a>
    <a pageScroll href="#toa">TOA</a>
    <a pageScroll href="#ponderProve">Ponder/Prove</a>
  </nav>

  <div class="templates">
    <div id="generic" class="section-header">
      <h1>Generic</h1>
    </div>
    <div class="featureWrapper">
      <app-generic-activity-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-generic-activity-wrapper>
      <app-generic-content-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-generic-content-wrapper>
      <app-home-page-wrapper (select)="updateFeature($event)" [courseClass]="courseClass" [courseId]="courseId" [courseName]="courseName"></app-home-page-wrapper>
      <app-teaching-notes-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-teaching-notes-wrapper>
      <app-introduction-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-introduction-wrapper>
    </div>

    <div id="prepare" class="section-header">
      <h1>Prepare</h1>
    </div>
    <div class="featureWrapper">
      <app-concept-mapping-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-concept-mapping-wrapper>
      <app-interview-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-interview-wrapper>
      <app-learning-contract-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-learning-contract-wrapper>
      <app-note-taking-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-note-taking-wrapper>
      <app-practice-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-practice-wrapper>
      <app-prepare-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-prepare-wrapper>
      <app-pretest-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-pretest-wrapper>
      <app-project-plan-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-project-plan-wrapper>
      <app-quiz-writing-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-quiz-writing-wrapper>
      <app-research-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-research-wrapper>
      <app-sign-up-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-sign-up-wrapper>
      <app-study-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-study-wrapper>
    </div>

    <div id="toa" class="section-header">
      <h1>Teach One Another</h1>
    </div>
    <div class="featureWrapper">
      <app-case-study-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-case-study-wrapper>
      <app-field-experience-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-field-experience-wrapper>
      <app-group-problem-solving-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-group-problem-solving-wrapper>
      <app-group-project-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-group-project-wrapper>
      <app-ice-breaker-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-ice-breaker-wrapper>
      <app-insight-sharing-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-insight-sharing-wrapper>
      <app-jigsaw-teaching-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-jigsaw-teaching-wrapper>
      <app-peer-accountability-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-peer-accountability-wrapper>
      <app-peer-feedback-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-peer-feedback-wrapper>
      <app-presentation-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-presentation-wrapper>
      <app-qna-support-forum-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-qna-support-forum-wrapper>
      <app-role-play-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-role-play-wrapper>
      <app-structured-debate-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-structured-debate-wrapper>
      <app-study-group-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-study-group-wrapper>
      <app-teach-one-another-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-teach-one-another-wrapper>
      <app-topic-discussion-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-topic-discussion-wrapper>
    </div>

    <div id="ponderProve" class="section-header">
      <h1>Ponder/Prove</h1>
    </div>
    <div class="featureWrapper">
      <app-accountability-quiz-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-accountability-quiz-wrapper>
      <app-exam-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-exam-wrapper>
      <app-exercise-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-exercise-wrapper>
      <app-paper-essay-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-paper-essay-wrapper>
      <app-ponder-prove-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-ponder-prove-wrapper>
      <app-portfolio-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-portfolio-wrapper>
      <app-post-test-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-post-test-wrapper>
      <app-project-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-project-wrapper>
      <app-quiz-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-quiz-wrapper>
      <app-reflection-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-reflection-wrapper>
      <app-report-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-report-wrapper>
      <app-worksheet-wrapper (select)="updateFeature($event)" [courseClass]="courseClass"></app-worksheet-wrapper>
    </div>

  </div>

  <!-- uncomment this for drop down version of activity template page -->
  <!-- <app-org-template [courseClass]="courseClass"
                      (select)=updateFeature($event)
                      id="app-{{templates[0]}}">
  </app-org-template>
  <app-home-page [courseClass]="courseClass"
                    [courseId]="courseId"
                    [courseName]="courseName"
                    (select)="updateFeature($event)"
                    id="app-{{templates[1]}}">
  </app-home-page> -->

</div>

<form method="post" action="{{returnUrl}}" id="submit">
  <input type="hidden" name="lti_message_type" value="ContentItemSelection" />
  <input type="hidden" name="lti_version" value="LTI-1p0" />
  <input id="contentItems" type="hidden" name="content_items" value="{{contentItemsJson}}" />
</form>
