<div id="pageOne" class="page visible">
  <nav>
    <a [routerLink]="['.']" fragment="accordion">Accordion</a>
    <a [routerLink]="['.']" fragment="banner">Activity Banner</a>
    <!-- <a href="#bannerImg">Banner Image</a> -->
    <a [routerLink]="['.']" fragment="button">Button</a>
    <a [routerLink]="['.']" fragment="callout">Callout</a>
    <a [routerLink]="['.']" fragment="columns">Columns</a>
    <!-- <a href="#contentBox">Content Box</a> -->
    <a [routerLink]="['.']" fragment="definition">Definition</a>
    <a [routerLink]="['.']" fragment="dialog">Dialog</a>
    <a [routerLink]="['.']" fragment="image">Image</a>
    <a [routerLink]="['.']" fragment="imgCarousel">Image Carousel</a>
    <a [routerLink]="['.']" fragment="popover">Popover</a>
    <a [routerLink]="['.']" fragment="table">Table</a>
  </nav>

  <h3>Select the feature you would like to insert</h3>

  <div class="features">
      <app-accordion class="app-accordion"></app-accordion>
      <app-banner class="app-banner"></app-banner>
      <app-button class="app-button"></app-button>
      <app-callout class="app-callout"></app-callout>
      <app-columns class="app-columns"></app-columns>
      <app-definition class="app-definition"></app-definition>
      <app-dialog class="app-dialog"></app-dialog>
      <app-image class="app-image"></app-image>
      <app-image-carousel class="app-image-carousel"></app-image-carousel>
      <app-popover class="app-popover"></app-popover>
      <app-table class="app-table"></app-table>

    <!-- <div id="bannerImg">
        
    </div> -->

    <!-- <div id="contentBox">

    </div> -->

  </div>
</div>

<form #form="ngForm" method="post" action="{{returnUrl}}">
  <input type="hidden" name="lti_message_type" value="ContentItemSelection" />
  <input type="hidden" name="lti_version" value="LTI-1p0" />
  <input id="contentItems" type="hidden" name="content_items" value="{{test}}" />
  <button type="submit">Submit</button>
</form>
