<div id="pageOne" class="page visible">
  <nav>
    <a [routerLink]="['.']" fragment="accordion">Accordion</a>
    <a [routerLink]="['.']" fragment="banner">Activity Banner</a>
    <!-- <a href="#bannerImg">Banner Image</a> -->
    <a [routerLink]="['.']" fragment="button">Button</a>
    <a [routerLink]="['.']" fragment="callout">Callout</a>
    <a [routerLink]="['.']" fragment="columns">Columns</a>
    <!-- <a href="#contentBox">Content Box</a> -->
    <a [routerLink]="['.']" fragment="definition">Definition</a>
    <a [routerLink]="['.']" fragment="dialog">Dialog</a>
    <a [routerLink]="['.']" fragment="image">Image</a>
    <a [routerLink]="['.']" fragment="imgCarousel">Image Carousel</a>
    <a [routerLink]="['.']" fragment="popover">Popover</a>
    <a [routerLink]="['.']" fragment="table">Table</a>
  </nav>

  <h3>Select the feature you would like to insert</h3>

  <div class="features">
      <app-accordion class="app-accordion"></app-accordion>
      <app-banner class="app-banner"></app-banner>
      <app-button class="app-button"></app-button>
      <app-callout class="app-callout"></app-callout>

    <!-- <div id="bannerImg">
        <h2>Banner Image</h2>
        <div>
            <p>Guidelines</p>
        </div>
        <div class="row">
            <div class="option">
                <h4>Select options:</h4>
                <p>Are we using these?</p>
            </div>
            <div class="preview" id="bannerImgOut">
                <h4>Preview:</h4>
                <div id="header">
                    <img src="https://byui.instructure.com/courses/<%= courseNumber %>/file_contents/course%20files/Web%20Files/homeImage.jpg"
                        alt="Course Banner" />
                </div>
            </div>
        </div>
        <div>
            <a class="Button btn btn-primary" href="#" onclick="submitFeature('bannerImg')">Insert Banner Image</a>
        </div>
    </div> -->

    <div id="columns">
        <h2>Columns</h2>
        <div>
            <p>Guidelines</p>
        </div>
        <div class="row">
            <div class="option">
                <h4>Select number of columns:</h4>
                <div class="size radio-inline">
                    <div *ngFor="let column of columnNumbers">
                        <input type="radio" name="numberOfColumns"
                            [value]="column"
                            [checked]="column===1"
                            (change)="changeNumberOfColumns(column)">
                        <label class="radio-label">{{ column }}</label>
                    </div>
                </div>
            </div>
            <div class="preview" id="columnsOut">
                <h4>Preview:</h4>
                <div class="content-box">
                    <div class="grid-row">
                        <div class="col-xs-6" *ngFor="let item of array(numberOfColumns)">
                            <ul>
                                <li>Lorem ipsum dolor</li>
                                <li>Lorem ipsum dolor</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a class="Button btn btn-primary" href="#" onclick="submitFeature('columns')">Insert Columns</a>
        </div>
    </div>

    <!-- <div id="contentBox">
        <h2>Content Box</h2>
        <div>
            <p>Guidelines</p>
        </div>
        <div class="row">
            <div class="option">
                <h4>Select options:</h4>
                <p>Are we using these?</p>
            </div>
            <div class="preview" id="contentBoxOut">
                <h4>Preview:</h4>
                <div class="content-box pad-box-mini border border-trbl border-round">
                    <p>Your content here</p>
                </div>
            </div>
        </div>
        <div>
            <a class="Button btn btn-primary" href="#" onclick="submitFeature('contentBox')">Insert Content Box</a>
        </div>
    </div> -->

    <div id="definition">
        <h2>Definition</h2>
        <div>
            <p>Guidelines</p>
        </div>
        <div class="row">
            <div class="option">
                <!-- <h4>Select options:</h4>                             -->
            </div>
            <div class="preview" id="definitionOut">
                <h4>Preview:</h4>
                <dl>
                    <dt>Term (n) </dt>
                    <dd>1. Definition </dd>
                </dl>
            </div>
        </div>
        <div>
            <a class="Button btn btn-primary" href="#" onclick="submitFeature('definition')">Insert Definition</a>
        </div>
    </div>

    <div id="dialog">
        <h2>Dialog</h2>
        <div>
            <p>Guidelines</p>
        </div>
        <div class="row">
            <div class="option">
                <h4>Select options:</h4>
                <input type="text" placeholder="Dialog Title" [(ngModel)]="dialogTitle">
                <input type="text" placeholder="Prompt Text" [(ngModel)]="dialogPrompt">
                <textarea placeholder="Content" [(ngModel)]="dialogContent"></textarea>
            </div>
            <div class="preview" id="dialogOut">
                <h4>Preview:</h4>
                <div id="dialog_for_link_1" title="dialogTitle ? dialogTitle : Title" class="enhanceable_content dialog">
                  {{dialogContent ? dialogContent : "dialog"}}
                </div>
                <p>
                    <a id="link_1" class="Button" href="#dialog_for_link_1">
                      {{dialogPrompt ? dialogPrompt : "prompt"}}
                    </a>
                </p>
            </div>
        </div>
        <div>
            <a class="Button btn btn-primary" href="#" onclick="submitFeature('dialog')">Insert Dialog</a>
        </div>
    </div>

    <div id="image">
        <h2>Image</h2>
        <div>
            <p>Guidelines</p>
        </div>
        <div class="row">
            <div class="option">
                <h4>Select options:</h4>
                <div class="position radio-inline">
                    <div *ngFor="let position of positions">
                        <input type="radio" name="imagePosition"
                            [value]="position"
                            [checked]="position==='right'"
                            (change)="changeImagePosition(position)">
                        <label class="radio-label">{{position | capitalize}}</label>
                    </div>
                </div>
                <div class="size radio-inline">
                    <div *ngFor="let size of sizes">
                        <input type="radio" name="imageSize"
                            [value]="size"
                            [checked]="size==='quarter'"
                            (change)="changeImageSize(size)">
                        <label class="radio-label">{{size | capitalize}}</label>
                    </div>
                </div>
                <input type="checkbox"
                       [checked]="imageClearfix"
                       (change)="imageClearfix = !imageClearfix">
                <label for="imageClearfix">Clearfix</label>
                <input #src type="text" placeholder="Source URL"
                       (keyup.enter)="updateImageSource(src.value)"
                       (blur)="updateImageSource(src.value)">
                <input type="text" placeholder="Alt Text" [(ngModel)]="imageAlt">
                <input type="text" placeholder="Caption Text" [(ngModel)]="imageCaption">
            </div>
            <div class="preview" id="imageOut">
                <h4>Preview:</h4>
                <img src="{{imageSource ? imageSource : 'http://1.bp.blogspot.com/-66D9avcPfZo/UO2VxdfheOI/AAAAAAAAAHw/4yf3mXCbzO4/s1600/050524TaylorBldg_6743.jpg'}}"
                    alt="{{imageAlt ? imageAlt : '...'}}"
                    [ngClass]="{'left':imagePosition==='left',
                    'center':imagePosition==='center',
                    'right':imagePosition==='right',
                    'quarter':imageSize==='quarter',
                    'half':imageSize==='half',
                    'full':imageSize==='full',
                    'clearfix':imageClearfix}">
                <span class="caption">{{imageCaption ? imageCaption : "Image Caption"}}</span>
            </div>
        </div>
        <div>
            <a class="Button btn btn-primary" href="#" onclick="submitFeature('image')">Insert Image</a>
        </div>
    </div>

    <div id="video">
        <h2>Video</h2>
        <div>
            <p>Guidelines</p>
        </div>
        <div class="row">
            <div class="option">
                <h4>Select options:</h4>
                <div class="position">
                    <input type="radio" name="VidPosition" value="left" onchange="updateVideo()" id="videoPosLeft">
                    <label for="videoPosLeft">Left</label>
                    <input type="radio" name="VidPosition" value="center" onchange="updateVideo()" id="videoPosCenter">
                    <label for="videoPosCenter">Center</label>
                    <input type="radio" name="VidPosition" value="right" onchange="updateVideo()" id="videoPosRight" checked>
                    <label for="videoPosRight">Right</label>
                </div>
                <div class="size">
                    <input type="radio" name="VidSize" value="full" id="videoSizeFull" onchange="updateVideo()">
                    <label for="videoSizeFull">Full</label>
                    <input type="radio" name="VidSize" value="half" id="videoSizeHalf" onchange="updateVideo()">
                    <label for="videoSizeHalf">Half</label>
                    <input type="radio" name="VidSize" value="quarter" id="videoSizeQuarter" onchange="updateVideo()" checked>
                    <label for="videoSizeQuarter">Quarter</label>
                </div>
                <input type="checkbox" id="clearfix" onchange="updateVideo()">
                <label for="videoClearfix">Clearfix</label>
                <input type="text" placeholder="Source URL" oninput="updateVideo()">
                <input type="text" placeholder="Alt Text" oninput="updateVideo()">
                <input type="text" placeholder="Caption Text" oninput="updateVideo()">
            </div>
            <div class="preview" id="videoOut">
                <h4>Preview:</h4>
                <span class="caption">Insert Caption Text Here</span>
            </div>
        </div>
        <div>
            <a class="Button btn btn-primary" href="#" onclick="submitFeature('video')">Insert Video</a>
        </div>
    </div>

    <div id="imgCarousel">
        <h2>Image Carousel</h2>
        <div>
            <p>Guidelines</p>
        </div>
        <div class="row">
            <div class="option">
                <h4>Select options:</h4>
                <input #slides type="string" id="numSlides" placeholder="Number of slides?"
                       (keyup.enter)="updateSlideCount(slides.value)"
                       (blur)="updateSlideCount(slides.value)">
                    <div *ngFor="let slide of array(slideCount)">
                        <input #slideSrc type="string" placeholder="Img {{slide + 1}} URL"
                        id="{{slide}}"
                        (keyup.enter)="updateSlide(slideSrc.value, slide)"
                        (blur)="updateSlide(slideSrc.value, slide)">
                        <input #slideAlt type="string" placeholder="Img {{slide + 1}} Alt text"
                        id="{{slide}}"
                        (keyup)="updateSlideAlt(slideAlt.value, slide)">
                    </div>
            </div>
            <div class="preview" id="imgCarouselOut">
                <h4>Preview:</h4>
                <div class="carousel">
                    <div class="slide" *ngFor="let slide of array(slideCount)">
                        <img alt="{{slideAlt[slide] ? slideAlt[slide] : '...'}}"
                             src="{{slideSource[slide] ? slideSource[slide] : 'http://1.bp.blogspot.com/-66D9avcPfZo/UO2VxdfheOI/AAAAAAAAAHw/4yf3mXCbzO4/s1600/050524TaylorBldg_6743.jpg'}}">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a class="Button btn btn-primary" href="#" onclick="submitFeature('imgCarousel')">Insert Image Carousel</a>
        </div>
    </div>

    <div id="popover">
        <h2>Popover</h2>
        <div>
            <p>Guidelines</p>
        </div>

        <div class="row">
            <div class="option">
                <h4>Select options:</h4>
                <input type="text" placeholder="Text" [(ngModel)]='popoverBaseText'>
                <textarea placeholder="Popover Text" [(ngModel)]='popoverText'></textarea>
            </div>
            <div>
                <div class="preview" id="popoverOut">
                <h4>Preview:</h4>
                    <a data-tooltip='{"tooltipClass":"popover popover-padded", "position":"right"}' title="{{popoverText ? popoverText : 'Ohai'}}">
                        {{popoverBaseText ? popoverBaseText : "Text with accessible popover"}}
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a class="Button btn btn-primary" href="#" onclick="submitFeature('popoverOut.innerhtml')">Insert popover</a>
        </div>
    </div>

    <div id="table">
        <h2>Table</h2>
        <div>
            <p>Guidelines</p>
        </div>
        <div class="row">
            <div class="option">
                <h4>Select options:</h4>
                <input type="checkbox" id="tableStriped"
                       (change)="tableStriped = !tableStriped">
                <label for="tableStriped">Striped</label>
            </div>
            <div class="preview" id="tableOut">
                <h4>Preview:</h4>
                <table [ngClass]="{'table-striped':tableStriped,
                                   'ic-Table':true}">
                    <tbody>
                        <tr>
                            <th>Heading</th>
                            <th>Heading</th>
                            <th>Heading</th>
                        </tr>
                        <tr>
                            <td>Text</td>
                            <td>Text</td>
                            <td>Text</td>
                        </tr>
                        <tr>
                            <td>Text</td>
                            <td>Text</td>
                            <td>Text</td>
                        </tr>
                        <tr>
                            <td>Text</td>
                            <td>Text</td>
                            <td>Text</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <a class="Button btn btn-primary" (click)="submitFeature('table')">Insert Table</a>
        </div>
    </div>

  </div>
</div>

<form #form="ngForm" method="post" action="{{returnUrl}}">
  <input type="hidden" name="lti_message_type" value="ContentItemSelection" />
  <input type="hidden" name="lti_version" value="LTI-1p0" />
  <input id="contentItems" type="hidden" name="content_items" value="{{test}}" />
  <button type="submit">Submit</button>
</form>
