<div id="pageOne" class="page visible">
  <nav>
    <a [routerLink]="['.']" fragment="app-accordion">Accordion</a>
    <a [routerLink]="['.']" fragment="app-banner">Activity Banner</a>
    <!-- <a href="#bannerImg">Banner Image</a> -->
    <a [routerLink]="['.']" fragment="app-button">Button</a>
    <a [routerLink]="['.']" fragment="app-callout">Callout</a>
    <a [routerLink]="['.']" fragment="app-columns">Columns</a>
    <!-- <a href="#contentBox">Content Box</a> -->
    <a [routerLink]="['.']" fragment="app-definition">Definition</a>
    <a [routerLink]="['.']" fragment="app-dialog">Dialog</a>
    <a [routerLink]="['.']" fragment="app-image">Image</a>
    <a [routerLink]="['.']" fragment="app-image-carousel">Image Carousel</a>
    <a [routerLink]="['.']" fragment="app-popover">Popover</a>
    <a [routerLink]="['.']" fragment="app-table">Table</a>
  </nav>

  <h3>Select the feature you would like to insert</h3>

  <div class="features">

      <app-accordion id="app-accordion"
        (select)="submitFeature($event)"></app-accordion>
      <app-banner id="app-banner"></app-banner>
      <app-button id="app-button"></app-button>
      <app-callout id="app-callout"></app-callout>
      <app-columns id="app-columns"></app-columns>
      <app-definition id="app-definition"></app-definition>
      <app-dialog id="app-dialog"></app-dialog>
      <app-image id="app-image"></app-image>
      <app-image-carousel id="app-image-carousel"></app-image-carousel>
      <app-popover id="app-popover"></app-popover>
      <app-table id="app-table"></app-table>

  </div>
</div>

<form #form="ngForm" method="post" action="{{returnUrl}}">
  <input type="hidden" name="lti_message_type" value="ContentItemSelection" />
  <input type="hidden" name="lti_version" value="LTI-1p0" />
  <input id="contentItems" type="hidden" name="content_items" value="{{test}}" />
  <button type="submit">Submit</button>
</form>
