<div class="byui {{courseClass}}">
    <div class="overview">
        <h2>Overview</h2>
        <ul>
            <li>
                <strong>Task:</strong> Prepare for [describe what to prepare for].</li>
            <li>
                <strong>Purpose:</strong> To [explain purpose and value].</li>
            <li>
                <strong>[Instructor (Optional):</strong> Describe relevant instructor role in activity].</li>
        </ul>
    </div>
    <div class="instructions">
        <h2>Instructions</h2>
        <ol>
            <li>[Preparation should adhere to the prescribed method]
                <ol>
                    <li>[Indicate what students are preparing for and the timeline expectations]</li>
                    <li>[Indicate whether it will be completed individually or by group]</li>
                </ol>
            </li>
            <li>[Preparation should utilize the appropriate tool(s)]
                <ol>
                    <li>[Indicate the tool, if any, that students will use and how they will use it]</li>
                </ol>
            </li>
            <li>[Preparation should adhere to submission requirements]
                <ol>
                    <li>[Indicate whether a deliverable is required for this activity]</li>
                    <li>[If group work is required, then include expectations of members as well as criteria for grading
                        individuals and groups]</li>
                </ol>
            </li>
        </ol>
    </div>
    <div class="custom">
        <h2>[Custom H2 (Optional)]</h2>
        <ul>
            <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
        </ul>
    </div>
</div>
