<div class="byui {{courseClass}}">
    <div class="overview">
        <h2>Overview</h2>
        <ul>
            <li>
                <strong>Task:</strong> Create a learning contract outlining [describe deliverables].</li>
            <li>
                <strong>Purpose:</strong> To [explain purpose and value].</li>
            <li>
                <strong>[Instructor (Optional):</strong> Describe relevant instructor role in activity].</li>
        </ul>
    </div>
    <div class="instructions">
        <h2>Instructions</h2>
        <ol>
            <li>[Learning contract should adhere to the prescribed method]
                <ol>
                    <li>[Indicate required steps to complete&mdash;particularly if multiple documents/deliverables are required]</li>
                    <li>[Indicate any goals or plans which students must articulate upfront, and how they will be held accountable]</li>
                    <li>[Indicate any resources, documents, or artifacts needed to help complete contract]</li>
                </ol>
            </li>
            <li>[Learning contract should utilize the appropriate tool(s)]
                <ol>
                    <li>[Indicate the tool, if any, that students will use and how they will use it].</li>
                </ol>
            </li>
            <li>[Learning contract should adhere to submission requirements]
                <ol>
                    <li>[Specify timeline for submission, especially if there are multiple deliverables]</li>
                </ol>
            </li>
        </ol>
    </div>
    <div class="custom">
        <h2>[Custom H2 (Optional)]</h2>
        <ul>
            <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
        </ul>
    </div>
</div>
