<div class="byui {{courseClass}}">
    <div class="overview">
        <h2>Overview</h2>
        <p>Review the description below for a quick overview of this activity.</p>
        <ul>
            <li>
                <strong>Task:</strong>
                <em> Study </em>and
                <em> take notes on</em> [describe and
                <em>highlight</em> what must be reviewed].</li>
            <li>
                <strong>Purpose:</strong> This will [explain purpose and value].</li>
            <li>
                <strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity].</li>
        </ul>
    </div>
    <div class="instructions">
        <h2>Instructions</h2>
        <p>To successfully complete this activity, carefully follow these steps:</p>
        <ol>
            <li>[Note taking should adhere to the prescribed method]
                <ol>
                    <li>[Indicate whether it will be completed individually or by group]</li>
                    <li>[Indicate any unique steps and/or resources needed to complete]</li>
                    <li>[Indicate any note taking strategy&mdash;e.g. Cornell Method&mdash;required]</li>
                </ol>
            </li>
            <li>[Note taking should utilize the appropriate tool(s)]
                <ol>
                    <li>[Indicate the tool, if any, that students will use and how they will use it].</li>
                </ol>
            </li>
            <li>[Note taking should adhere to submission requirements]
                <ol>
                    <li>[Indicate whether a deliverable is required for this activity]</li>
                    <li>[If group note taking, then include expectations of members as well as criteria for grading individuals
                        and groups]</li>
                </ol>
            </li>
        </ol>
    </div>
    <div class="custom">
        <h2>[Custom H2 (Optional)]</h2>
        <ul>
            <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
        </ul>
    </div>
</div>
