<div class="byui {{courseClass}}">
    <div class="overview">
        <h2>Overview</h2>
        <ul>
            <li>
                <strong>Task:</strong> Sign up for [describe what students will sign up for].</li>
            <li>
                <strong>Purpose:</strong> To [explain purpose and value].</li>
            <li>
                <strong>[Instructor (Optional):</strong> Describe relevant instructor role in activity].</li>
        </ul>
    </div>
    <div class="instructions">
        <h2>Instructions</h2>
        <ol>
            <li>[Sign-up should adhere to the prescribed method]
                <ol>
                    <li>[Indicate any unique steps and/or resources needed to complete]</li>
                </ol>
            </li>
            <li>[Sign-up should utilize the appropriate tool(s)]
                <ol>
                    <li>[Indicate the tool, if any, that students will use and how they will use it].</li>
                </ol>
            </li>
            <li>[Sign-up should adhere to submission requirements]
                <ol>
                    <li>[If graded then include any needed grading criteria]</li>
                </ol>
            </li>
        </ol>
    </div>
    <div class="custom">
        <h2>[Custom H2 (Optional)]</h2>
        <ul>
            <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
        </ul>
    </div>
</div>
