<div id="template_study">
    <div class="byui {{courseClass}}">
        <div class="overview">
            <h2>Overview</h2>
            <p>Review the description below for a quick overview of this activity.</p>
            <ul>
                <li>
                    <strong>Task:</strong>
                    <em> [Study/Review] [name of material(s)]</em>
                    <strong>.</strong>
                </li>
                <li>
                    <strong>Purpose:</strong> This will [explain purpose and value].</li>
                <li>
                    <strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity].</li>
            </ul>
        </div>
        <div class="instructions">
            <h2>Instructions</h2>
            <p>To successfully complete this activity, carefully follow these steps:</p>
            <ol>
                <li>[Process Requirements? If any, indicate]
                    <ol>
                        <li>[List of things to read/watch/listen to]</li>
                    </ol>
                </li>
                <li>[Tool Requirements? If any, indicate tutorials or other helpful resources]</li>
            </ol>
        </div>
        <div class="custom">
            <h2>[Custom H2 (Optional)]</h2>
            <ul>
                <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
            </ul>
        </div>
    </div>
</div>
