<div class="byui {{courseClass}}">
    <div class="quizOverview">
        <ul>
            <li>
                <strong>Task:</strong> Account for your efforts on [describe activities].</li>
            <li>
                <strong>Purpose:</strong> To [explain purpose and value].</li>
            <li>
                <strong>[Instructor (Optional):</strong> Describe relevant instructor role in activity].</li>
        </ul>
        <h3>[Conditions/Readings/Notes (Optional)]</h3>
        <ul>
            <li>[Indicate whether it is open-book/note OR closed-book/note]</li>
            <li>[Explain when students will see correct answers]</li>
            <li>[Include any required link(s) to prior readings]</li>
        </ul>
    </div>
</div>
