<div class="byui {{courseClass}}">
  <div class="overview">
    <h2>Overview</h2>
    <p>Review the description below for a quick overview of this activity.</p>
    <ul>
      <li>
        <strong>Task:</strong>
        <em> Complete a worksheet on</em> [describe and
        <em>highlight</em> topic(s)].</li>
      <li>
        <strong>Purpose:</strong> This will [explain purpose and value].</li>
      <li>
        <strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity].</li>
    </ul>
  </div>
  <div class="instructions">
    <h2>Instructions</h2>
    <p>To successfully complete this activity, carefully follow these steps:</p>
    <ol>
      <li>[Worksheet should adhere to the prescribed method]
        <ol>
          <li>[Indicate required steps to complete&mdash;particularly if multiple documents/deliverables are required]</li>
          <li>[Indicate any resources, documents, or databases needed to help complete]</li>
          <li>[Indicate whether it will be completed individually or by group]</li>
        </ol>
      </li>
      <li>[Worksheet should utilize the appropriate tool(s)]
        <ol>
          <li>[Indicate the tool, if any, that students will use and how they will use it].</li>
        </ol>
      </li>
      <li>[Worksheet should show clear understanding of topic(s)]
        <ol>
          <li>[Indicate specific topics to cover and, if needed, when].</li>
        </ol>
      </li>
      <li>[Worksheet should adhere to submission requirements]
        <ol>
          <li>[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there
            are multiple deliverables]</li>
          <li>[If group worksheet/workbook, then include expectations of members as well as criteria for grading individuals
            and groups]</li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="custom">
    <h2>[Custom H2 (Optional)]</h2>
    <ul>
      <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
    </ul>
  </div>
</div>
