<div class="byui {{courseClass}}">
  <div class="overview">
    <h2>Overview</h2>
    <ul>
      <li>
        <strong>Task:</strong> [Ponder or Prove] [describe topic].</li>
      <li>
        <strong>Purpose:</strong> To [explain purpose and value].</li>
      <li>
        <strong>[Instructor (Optional):</strong> Describe relevant instructor role in activity].</li>
    </ul>
  </div>
  <div class="instructions">
    <h2>Instructions</h2>
    <ol>
      <li>[Ponder/Prove should adhere to the prescribed method]
        <ol>
          <li>[Indicate topics or competencies that students will ponder or prove]</li>
          <li>[Indicate required steps to complete&mdash;particularly, any necessary deliverables]</li>
          <li>[Indicate any needed or useful resources]</li>
          <li>[Indicate whether it will be completed individually or by group]</li>
        </ol>
      </li>
      <li>[Ponder/Prove should utilize the appropriate tool(s)]
        <ol>
          <li>[Indicate the tool, if any, that students will use and how they will use it].</li>
        </ol>
      </li>
      <li>[Ponder/Prove should adhere to submission requirements]
        <ol>
          <li>[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there
            are multiple deliverables]</li>
          <li>[If group work, then include expectations of members as well as criteria for grading individuals and groups]
          </li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="custom">
    <h2>[Custom H2 (Optional)]</h2>
    <ul>
      <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
    </ul>
  </div>
</div>
