<div class="byui {{courseClass}}">
  <div class="overview">
    <h2>Overview</h2>
    <ul>
      <li>
        <strong>Task:</strong> Complete a project on [describe what must be completed] for [indicate audience].</li>
      <li>
        <strong>Purpose:</strong> To [explain purpose and value].</li>
      <li>
        <strong>[Instructor (Optional):</strong> Describe relevant instructor role in activity].</li>
    </ul>
  </div>
  <div class="instructions">
    <h2>Instructions</h2>
    <ol>
      <li>[Project should adhere to the prescribed method]
        <ol>
          <li>[Indicate required steps to complete&mdash;particularly if multiple documents/deliverables are required]</li>
          <li>[Indicate any resources, documents, or artifacts needed to help complete]</li>
          <li>[Indicate whether it will be completed individually or by group]</li>
          <li>[Indicate any citation or style guide requirement, if any]</li>
        </ol>
      </li>
      <li>[Project should utilize the appropriate tool(s)]
        <ol>
          <li>[Indicate the tool, if any, that students will use and how they will use it]</li>
          <li>[If using a slide deck, specify if there is a required number of slides]</li>
        </ol>
      </li>
      <li>[Project should show clear understanding/competency of topic(s)/skill(s)]
        <ol>
          <li>[Indicate specific topics/skills that should be reflected]</li>
        </ol>
      </li>
      <li>[Project should adhere to submission requirements]
        <ol>
          <li>[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there
            are multiple deliverables]</li>
          <li>[If group project, then include expectations of members as well as criteria for grading individuals and groups]
          </li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="custom">
    <h2>[Custom H2 (Optional)]</h2>
    <ul>
      <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
    </ul>
  </div>
</div>
