<div id="template_presentation">
    <div class="byui {{courseClass}}">
        <div class="overview">
            <h2>Overview</h2>
            <p>Review the description below for a quick overview of this activity.</p>
            <ul>
                <li>
                    <strong>Task:</strong>
                    <em> Create </em>a
                    <em> presentation on</em> [describe and
                    <em>highlight</em> what must be presented], for [indicate the audience] in [#] [minutes/slides] or less.</li>
                <li>
                    <strong>Purpose:</strong> This will [explain purpose and value].</li>
                <li>
                    <strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity].</li>
            </ul>
        </div>
        <div class="instructions">
            <h2>Instructions</h2>
            <p>To successfully complete this activity, carefully follow these steps:</p>
            <ol>
                <li>[Presentation should adhere to a prescribed method]
                    <ol>
                        <li>[Indicate whether it will be completed individually or by group]</li>
                        <li>[Indicate required documents to include]</li>
                        <li>[Indicate any requirements for visuals; if so, provide resources to find free/open images]</li>
                    </ol>
                </li>
                <li>[Presentation should utilize the appropriate tool(s)]
                    <ol>
                        <li>[Indicate the tool that students will use and how they will present, with optional tutorials to utilize].</li>
                        <li>[If using a slide deck, specify if there is a required number of slides].</li>
                    </ol>
                </li>
                <li>[Presentation should show clear understanding of topic(s)]
                    <ol>
                        <li>[Indicate any high-level topics to cover].</li>
                    </ol>
                </li>
                <li>[Presentation should adhere to submission requirements]
                    <ol>
                        <li>[If group presentation, then include expectations of members as well as criteria for grading individuals
                            and groups]</li>
                        <li>[Specify timeline for submission, especially if revisions are allowed and/or peer feedback is solicited]</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div class="custom">
            <h2>[Custom H2 (Optional)]</h2>
            <ul>
                <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
            </ul>
        </div>
    </div>
</div>
