<div id="template_37">
  <div class="byui <%= courseClass %>">
      <p>To successfully complete this activity, follow these steps:</p>
      <ol>
          <li>
              [Submission should adhere to the prescribed method]
          </li>
          <li>
              [Submission should utilize the appropriate tool(s), if any]
          </li>
          <li>
              [Submission should show clear understanding of topic(s)]
          </li>
          <li>
              [Submission should adhere to submission requirements]
          </li>
      </ol>
      <h2>Next Steps (Optional)</h2>
      <p>After successfully completing this activity,
          [specify any next steps or relevant future activities]
      </p>
  </div>
</div>
