<div id="homeTemplate">
    <div class="row">
        <div class="option">
        </div>
        <div class="preview" id="homeTemplateOut">
            <h4>Preview:</h4>
            <app-home-page-preview
                [courseClass]="courseClass"
                [courseId]="courseId"
                [courseName]="courseName">
            </app-home-page-preview>
        </div>
    </div>
    <div class="buttonWrapper">
        <a class="Button btn btn-primary" (click)="chooseFeature()">Insert Home Page</a>
    </div>
</div>
