<div id="orgTemplate">
    <div class="row">
        <div class="option">
            <h4>Select options:</h4>
            <label for="selectTemplate" class="templateLabel">Page Template:</label>
            <select (change)="updateTemplate($event.target.value)" id="selectTemplate">
                <option disabled selected value>Select a template</option>
                <optgroup label="Generic">
                    <option *ngFor="let template of genericTemplates"
                    [value]="template">{{template | capitalize}}</option>
                </optgroup>
                <optgroup label="Prepare">
                    <option *ngFor="let template of prepareTemplates"
                    [value]="template">{{template | capitalize}}</option>
                </optgroup>
                <optgroup label="TOA">
                    <option *ngFor="let template of toaTemplates"
                    [value]="template">{{template | capitalize}}</option>
                </optgroup>
                <optgroup label="Ponder/Prove">
                  <option *ngFor="let template of ponderProveTemplates"
                    [value]="template">{{template | capitalize}}</option>
                </optgroup>
            </select>
            <br>
            <a target="_blank" href="https://docs.google.com/document/d/1ZoDam0yGbEkZX9i1o1ognWJFp6Jqh9IP6eeyOR23oj4/">View docs</a>
        </div>
        <div class="preview">
            <h4>Preview:</h4>
            <div id="orgTemplateOut">
                <p *ngIf="!selectedTemplate">Please select an option to the left</p>
                <app-generic-activity *ngIf="selectedTemplate == 'genericActivity'" [courseClass]="courseClass"></app-generic-activity>
                <app-generic-content *ngIf="selectedTemplate == 'genericContent'" [courseClass]="courseClass"></app-generic-content>
                <app-teaching-notes *ngIf="selectedTemplate == 'teachingNotes'" [courseClass]="courseClass"></app-teaching-notes>
                <app-introduction *ngIf="selectedTemplate == 'introduction'" [courseClass]="courseClass"></app-introduction>
                <app-prepare-concept-matching *ngIf="selectedTemplate == 'conceptMapping'" [courseClass]="courseClass"></app-prepare-concept-matching>
                <app-prepare-interview *ngIf="selectedTemplate == 'interview'" [courseClass]="courseClass"></app-prepare-interview>
                <app-prepare-learning-contract *ngIf="selectedTemplate == 'learningContract'" [courseClass]="courseClass"></app-prepare-learning-contract>
                <app-prepare-note-taking *ngIf="selectedTemplate == 'noteTaking'" [courseClass]="courseClass"></app-prepare-note-taking>
                <app-practice *ngIf="selectedTemplate == 'practice'" [courseClass]="courseClass"></app-practice>
                <app-prepare *ngIf="selectedTemplate == 'prepare'" [courseClass]="courseClass"></app-prepare>
                <app-prepare-pre-assesment *ngIf="selectedTemplate == 'pretest'" [courseClass]="courseClass"></app-prepare-pre-assesment>
                <app-prepare-project-plan *ngIf="selectedTemplate == 'projectPlan'" [courseClass]="courseClass"></app-prepare-project-plan>
                <app-prepare-quiz-writing *ngIf="selectedTemplate == 'quizWriting'" [courseClass]="courseClass"></app-prepare-quiz-writing>
                <app-prepare-scholarly-research *ngIf="selectedTemplate == 'research'" [courseClass]="courseClass"></app-prepare-scholarly-research>
                <app-prepare-sign-up *ngIf="selectedTemplate == 'signUp'" [courseClass]="courseClass"></app-prepare-sign-up>
                <app-study *ngIf="selectedTemplate == 'study'" [courseClass]="courseClass"></app-study>
                <app-toa-case-study *ngIf="selectedTemplate == 'caseStudy'" [courseClass]="courseClass"></app-toa-case-study>
                <app-toa-field-experience *ngIf="selectedTemplate == 'fieldExperience'" [courseClass]="courseClass"></app-toa-field-experience>
                <app-toa-group-problem-solving *ngIf="selectedTemplate == 'groupProblemSolving'" [courseClass]="courseClass"></app-toa-group-problem-solving>
                <app-toa-group-project *ngIf="selectedTemplate == 'groupProject'" [courseClass]="courseClass"></app-toa-group-project>
                <app-toa-icebreaker *ngIf="selectedTemplate == 'iceBreaker'" [courseClass]="courseClass"></app-toa-icebreaker>
                <app-toa-insight-sharing *ngIf="selectedTemplate == 'insightSharing'" [courseClass]="courseClass"></app-toa-insight-sharing>
                <app-toa-jigsaw-teaching *ngIf="selectedTemplate == 'jigsawTeaching'" [courseClass]="courseClass"></app-toa-jigsaw-teaching>
                <app-toa-peer-accountability *ngIf="selectedTemplate == 'peerAccountability'" [courseClass]="courseClass"></app-toa-peer-accountability>
                <app-toa-peer-feedback *ngIf="selectedTemplate == 'peerFeedback'" [courseClass]="courseClass"></app-toa-peer-feedback>
                <app-ponder-presentation *ngIf="selectedTemplate == 'presentation'" [courseClass]="courseClass"></app-ponder-presentation>
                <app-toa-qna-support-forum *ngIf="selectedTemplate == 'q&amp;ASupportForum'" [courseClass]="courseClass"></app-toa-qna-support-forum>
                <app-toa-role-play-discussion *ngIf="selectedTemplate == 'rolePlay'" [courseClass]="courseClass"></app-toa-role-play-discussion>
                <app-toa-structured-debate *ngIf="selectedTemplate == 'structuredDebate'" [courseClass]="courseClass"></app-toa-structured-debate>
                <app-toa-study-group *ngIf="selectedTemplate == 'studyGroup'" [courseClass]="courseClass"></app-toa-study-group>
                <app-teach-one-another *ngIf="selectedTemplate == 'teachOneAnother'" [courseClass]="courseClass"></app-teach-one-another>
                <app-toa-topic-discussion *ngIf="selectedTemplate == 'topicDiscussion'" [courseClass]="courseClass"></app-toa-topic-discussion>
                <app-accountability-quiz *ngIf="selectedTemplate == 'accountabilityQuiz'" [courseClass]="courseClass"></app-accountability-quiz>
                <app-ponder-prove-exam *ngIf="selectedTemplate == 'exam'" [courseClass]="courseClass"></app-ponder-prove-exam>
                <app-exercise *ngIf="selectedTemplate == 'exercise'" [courseClass]="courseClass"></app-exercise>
                <app-ponder-prove-essay *ngIf="selectedTemplate == 'paperEssay'" [courseClass]="courseClass"></app-ponder-prove-essay>
                <app-ponder-prove *ngIf="selectedTemplate == 'ponderProve'" [courseClass]="courseClass"></app-ponder-prove>
                <app-ponder-prove-portfolio *ngIf="selectedTemplate == 'portfolio'" [courseClass]="courseClass"></app-ponder-prove-portfolio>
                <app-ponder-prove-unanswered-questions *ngIf="selectedTemplate == 'postTest'" [courseClass]="courseClass"></app-ponder-prove-unanswered-questions>
                <app-ponder-prove-project *ngIf="selectedTemplate == 'project'" [courseClass]="courseClass"></app-ponder-prove-project>
                <app-ponder-prove-quiz *ngIf="selectedTemplate == 'quiz'" [courseClass]="courseClass"></app-ponder-prove-quiz>
                <app-ponder-prove-reflective-write-up *ngIf="selectedTemplate == 'reflection'" [courseClass]="courseClass"></app-ponder-prove-reflective-write-up>
                <app-ponder-prove-report *ngIf="selectedTemplate == 'report'" [courseClass]="courseClass"></app-ponder-prove-report>
                <app-ponder-prove-worksheet-workbook *ngIf="selectedTemplate == 'worksheet'" [courseClass]="courseClass"></app-ponder-prove-worksheet-workbook>
            </div>
        </div>
    </div>
    <div class="buttonWrapper">
        <a class="Button btn btn-primary" (click)="chooseFeature()">Insert Activity Template</a>
    </div>
</div>
