<div id="template_teach_one_anoher">
  <div class="byui {{courseClass}}">
    <div class="overview">
      <h2>Overview</h2>
      <p>Review the description below for a quick overview of this activity.</p>
      <ul>
        <li>
          <strong>Task:</strong>
          <em> Teach one another</em> [indicate and
          <em>highlight</em> topic(s)].</li>
        <li>
          <strong>Purpose:</strong> This will [explain purpose and value].</li>
        <li>
          <strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity].</li>
      </ul>
    </div>
    <div class="instructions">
      <h2>Instructions</h2>
      <p>To successfully complete this activity, carefully follow these steps:</p>
      <ol>
        <li>[Students should teach one another according to the prescribed method]
          <ol>
            <li>[Indicate how students will teach one another]</li>
            <li>[Indicate teaching guidelines; e.g., frequency, quantity, quality, and nature of interactions&mdash;included
              in a rubric, if needed]</li>
            <li>[Indicate if students need to generate a topic to post and respond to in class or groups]</li>
          </ol>
        </li>
        <li>[Student should utilize the appropriate tool(s)]
          <ol>
            <li>[Indicate if conducted asynchronously or synchronously; specify if done through I-Learn or using an external
              tool]
            </li>
          </ol>
        </li>
        <li>[Student should adhere to submission requirements]
          <ol>
            <li>[Indicate timeline for teaching one another]</li>
            <li>[Indicate whether students need to submit anything to the instructor in addition to their teach one another efforts]
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="custom">
      <h2>[Custom H2 (Optional)]</h2>
      <ul>
        <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
      </ul>
    </div>
  </div>
</div>
