<div class="byui {{courseClass}}">
  <div class="overview">
    <h2>Overview</h2>
    <p>Review the description below for a quick overview of this activity.</p>
    <ul>
      <li>
        <strong>Task:</strong>
        <em> Discuss </em>and
        <em> present your position on</em> [indicate and
        <em>highlight</em> topic(s)] for [indicate the audience].</li>
      <li>
        <strong>Purpose:</strong> This will [explain purpose and value].</li>
      <li>
        <strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity].</li>
    </ul>
  </div>
  <div class="instructions">
    <h2>Instructions</h2>
    <p>To successfully complete this activity, carefully follow these steps:</p>
    <ol>
      <li>[Students should adhere to the prescribed method]
        <ol>
          <li>[Indicate whether position is assigned or chosen]</li>
          <li>[Indicate any preparatory readings or resources to help students become better informed]</li>
          <li>[Specify any requirements when presenting a side of an argument]</li>
          <li>[Specify any requirements when responding to an opposing side of an argument, including showing respect and courtesy]</li>
          <li>[Specify style of debate; e.g., political debate over candidates, historical debate over historical topics, case
            study debate over alternative decisions, etc.]</li>
          <li>[Indicate size and timeline of debates; e.g., groups are pre-assigned a position in which to research and collaborate
            in a class-wide debate, or groups are divided into two teams that collaborate in group-wide debate]</li>
        </ol>
      </li>
      <li>[Students should utilize the appropriate tool(s)]
        <ol>
          <li>[Specify whether it is asynchronous or synchronous as well as what tools will be used]</li>
        </ol>
      </li>
      <li>[Students should adhere to submission requirements]
        <ol>
          <li>[Indicate any other grading criteria not previously specified]</li>
        </ol>
      </li>
    </ol>
  </div>
</div>
