<div class="byui {{courseClass}}">
    <div class="overview">
        <h2>Overview</h2>
        <p>Review the description below for a quick overview of this activity.</p>
        <ul>
            <li>
                <strong>Task:</strong>
                <em> Introduce yourself to your peers and </em>to your
                <em> instructor</em>.</li>
            <li>
                <strong>Purpose:</strong> This will [explain purpose and value].</li>
            <li>
                <strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity].</li>
        </ul>
    </div>
    <div class="instructions">
        <h2>Instructions</h2>
        <p>To successfully complete this activity, carefully follow these steps:</p>
        <ol>
            <li>[Students should adhere to the prescribed method]
                <ol>
                    <li>[Indicate criteria; e.g. specific questions, sharing a learning plan, a researched introduction from
                        their profession, pictures of themselves, research and share takeaways about a class topic, etc.]</li>
                    <li>[Provide helpful resources, if criteria solicits details beyond personal information]</li>
                    <li>[Specify if students will share with group or class; if group, then specify any group norming expectations]</li>
                </ol>
            </li>
            <li>[Students should utilize the appropriate tool(s)]
                <ol>
                    <li>[Specify any tools needed for collaboration, if outside I-Learn]</li>
                </ol>
            </li>
            <li>[Students should show respect and courtesy to their peers]
                <ol>
                    <li>[Specify any courtesy or etiquette requirements]</li>
                    <li>[Specify expectations for peers to respond to comments, if any]</li>
                </ol>
            </li>
            <li>[Students should adhere to submission requirements]
                <ol>
                    <li>[Specify any style, length or formatting requirements]</li>
                    <li>[Specify dates, especially if there are multiple post dates]</li>
                </ol>
            </li>
        </ol>
    </div>
    <div class="custom">
        <h2>[Custom H2 (Optional)]</h2>
        <ul>
            <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
        </ul>
    </div>
</div>
