<div class="byui {{courseClass}}">
    <div class="overview">
        <h2>Overview</h2>
        <ul>
            <li>
                <strong>Task:</strong> Work with your group to create a [indicate deliverable; e.g., paper, report, presentation, video, etc.] for [indicate the audience].</li>
            <li>
                <strong>Purpose: </strong>To [explain purpose and value].</li>
            <li>
                <strong>[Instructor (Optional):</strong> Describe relevant instructor role in activity].</li>
        </ul>
    </div>
    <div class="instructions">
        <h2>Instructions</h2>
        <ol>
            <li>[Group should adhere to the prescribed method]
                <ol>
                    <li>[Specify the relevant topic(s) or skill(s) tied to project]</li>
                    <li>[Specify how students are grouped, if not done already]</li>
                    <li>[Specify timeline&mdash;particularly if multiple deliverables are required]</li>
                    <li>[Specify the format of the product and how students will be graded for the product and the process]</li>
                    <li>[Specify expectations for dividing up and assigning tasks among group members]</li>
                </ol>
            </li>
            <li>[Group should utilize the appropriate resources and tools]
                <ol>
                    <li>[Explain what resources are acceptable for research, if needed; e.g., scholarly, popular, expert
                        interview, etc.]
                    </li>
                    <li>[Specify what tool(s) should be used for collaborating and presenting artifact]</li>
                </ol>
            </li>
            <li>[Group should adhere to submission requirements]
                <ol>
                    <li>[Specify any formatting requirements or time/length restrictions]</li>
                    <li>[Reiterate the intended audience of the submitted project and their role]</li>
                    <li>[Specify how groups and individuals will be graded for their role in group project]</li>
                    <li>[Specify any other submission requirements]</li>
                </ol>
            </li>
        </ol>
    </div>
</div>
