<div class="byui {{courseClass}}">
  <div class="overview">
    <h2>Overview</h2>
    <ul>
      <li>
        <strong>Task:</strong> Post questions you may have about the course, week, or specific activity.</li>
      <li>
        <strong>Purpose:</strong> To [explain purpose and value].</li>
      <li>
        <strong>[Instructor (Optional):</strong> Describe relevant instructor role in activity].</li>
    </ul>
  </div>
  <div class="instructions">
    <h2>Instructions</h2>
    <ol>
      <li>[If posting a question, students should adhere to the prescribed method]
        <ol>
          <li>[Indicate if a specific process should be followed; e.g. forward questions to a partner first, then a group,
            then the class if still unanswered]</li>
          <li>[Consider emphasizing that, where appropriate, students should include screenshots]</li>
          <li>[If a forum is time bound, indicate the time frame]</li>
          <li>[Emphasize the timeframe in which an instructor will respond to a question; e.g. instructors won&rsquo;t respond
            for 24 hrs to give students a chance to answer each other]</li>
        </ol>
      </li>
      <li>[If posting a question, students should utilize the appropriate tool(s)]
        <ol>
          <li>[Indicate the location of the forum (if using I-Learn)&mdash;emphasizing if it is course-wide, module specific,
            or activity specific]</li>
          <li>[Indicate any external tools being used for forums, if any]</li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="custom">
    <h2>[Custom H2 (Optional)]</h2>
    <ul>
      <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
    </ul>
  </div>
</div>
