<div class="row">
    <div class="option">
      <h2>Case Study</h2>
      <div>
        <p>Guidelines</p>
      </div>
      <input type="checkbox" [checked]="showAsHtml" (change)="showAsHtml = !showAsHtml">
      <label>Show as HTML</label>
    </div>
    <div>
      <div class="preview" id="buttonOut">
        <h4>Preview:</h4>
        <app-toa-case-study [ngClass]="{'hidden':showAsHtml}" [courseClass]="courseClass"></app-toa-case-study>
        <pre *ngIf="showAsHtml">
&lt;div class="byui {{courseClass}}">
  &lt;div class="overview">
      &lt;h2>Overview&lt;/h2>
      &lt;p>Review the description below for a quick overview of this activity.&lt;/p>
      &lt;ul>
          &lt;li>
              &lt;strong>Task:&lt;/strong>
              &lt;em> With your group, analyze&lt;/em> the [describe and
              &lt;em>highlight&lt;/em> the scenario or problem], and evaluate alternative solutions to address [indicate and
              highlight the scenario or problem].&lt;/li>
          &lt;li>
              &lt;strong>Purpose:&lt;/strong> This will [explain purpose and value].&lt;/li>
          &lt;li>
              &lt;strong>Instructor:&lt;/strong> Your instructor will [describe relevant instructor role in activity].&lt;/li>
      &lt;/ul>
  &lt;/div>
  &lt;div class="instructions">
      &lt;h2>Instructions&lt;/h2>
      &lt;p>To successfully complete this activity, carefully follow these steps:&lt;/p>
      &lt;ol>
          &lt;li>[Team should adhere to the prescribed method]
              &lt;ol>
                  &lt;li>[Indicate the format of the case; e.g. Is it a simplified mini case? Multiple complex cases requiring
                      teams to make decisions with limited information?]&lt;/li>
                  &lt;li>[Indicate any needed or helpful resources; e.g. Decision-making and consequences of professionals&mdash;after
                      students have analyzed case.]&lt;/li>
                  &lt;li>[Indicate any metrics for determining good decision-making and reasoning]&lt;/li>
                  &lt;li>[Indicate any requirements regarding persuasiveness, professionalism, etc.]&lt;/li>
              &lt;/ol>
          &lt;/li>
          &lt;li>[Team should utilize the appropriate tool(s) to organize, share, and present findings]
              &lt;ol>
                  &lt;li>[Indicate the tool that students will use to collaborate, if any; and, how they will share their
                      solutions, with optional tutorials to utilize].&lt;/li>
                  &lt;li>[If using a slide deck, specify if there is a required number of slides].&lt;/li>
              &lt;/ol>
          &lt;/li>
          &lt;li>[Team should demonstrate clear understanding of topics]
              &lt;ol>
                  &lt;li>[Indicate any high-level topics to cover and when]&lt;/li>
              &lt;/ol>
          &lt;/li>
          &lt;li>[Team should adhere to submission requirements]
              &lt;ol>
                  &lt;li>[If group presentation, then include expectations of members as well as criteria for grading individuals
                      and groups]&lt;/li>
                  &lt;li>[Specify timeline for submission, especially if revisions are allowed and/or peer feedback is solicited]&lt;/li>
              &lt;/ol>
          &lt;/li>
      &lt;/ol>
  &lt;/div>
&lt;/div>
      </pre>
    </div>
  </div>
</div>
<div class="buttonWrapper">
  <a class="Button btn btn-primary" (click)="chooseFeature()">Insert</a>
</div>