<div class="row">
  <div class="option">
    <h2>Interview</h2>
    <div>
      <p>Guidelines</p>
    </div>
    <input type="checkbox" [checked]="showAsHtml" (change)="showAsHtml = !showAsHtml">
    <label>Show as HTML</label>
  </div>
  <div>
    <div class="preview" id="buttonOut">
      <h4>Preview:</h4>
      <app-prepare-interview [ngClass]="{'hidden':showAsHtml}" [courseClass]="courseClass"></app-prepare-interview>
      <pre *ngIf="showAsHtml">
&lt;div class="byui {{courseClass}}">
    &lt;div class="overview">
        &lt;h2>Overview&lt;/h2>
        &lt;p>Review the description below for a quick overview of this activity.&lt;/p>
        &lt;ul>
            &lt;li>
                &lt;strong>Task: &lt;/strong>
                &lt;em>Interview&lt;/em> [describe and
                &lt;em>highlight&lt;/em> interviewee]
                &lt;em>about&lt;/em> [describe and
                &lt;em>highlight&lt;/em> what information must be gained].&lt;/li>
            &lt;li>
                &lt;strong>Purpose:&lt;/strong> This will [explain purpose and value].&lt;/li>
            &lt;li>
                &lt;strong>Instructor:&lt;/strong> Your instructor will [describe relevant instructor role in activity].&lt;/li>
        &lt;/ul>
    &lt;/div>
    &lt;div class="instructions">
        &lt;h2>Instructions&lt;/h2>
        &lt;p>To successfully complete this activity, carefully follow these steps:&lt;/p>
        &lt;ol>
            &lt;li>[Interview should adhere to the prescribed method]
                &lt;ol>
                    &lt;li>[Indicate whether it will be completed individually or by group]&lt;/li>
                    &lt;li>[Indicate required steps to complete&mdash;particularly if multiple documents/deliverables are required]&lt;/li>
                    &lt;li>[Indicate any resources, documents, or artifacts needed to help complete interview]&lt;/li>
                &lt;/ol>
            &lt;/li>
            &lt;li>[Interview should utilize the appropriate tool(s)]
                &lt;ol>
                    &lt;li>[Indicate the tool, if any, that students will use and how they will use it].&lt;/li>
                &lt;/ol>
            &lt;/li>
            &lt;li>[Interview should show clear understanding of topic(s)]
                &lt;ol>
                    &lt;li>[Indicate specific topics to cover and when].&lt;/li>
                &lt;/ol>
            &lt;/li>
            &lt;li>[Interview should adhere to submission requirements]
                &lt;ol>
                    &lt;li>[If group interview, then include expectations of members as well as criteria for grading individuals
                        and groups]&lt;/li>
                    &lt;li>[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited,
                        or if there are multiple deliverables]&lt;/li>
                &lt;/ol>
            &lt;/li>
        &lt;/ol>
    &lt;/div>
    &lt;div class="custom">
        &lt;h2>[Custom H2 (Optional)]&lt;/h2>
        &lt;ul>
            &lt;li>[Include any additional information such as notes, reminders, next steps, etc.]&lt;/li>
        &lt;/ul>
    &lt;/div>
&lt;/div>
      </pre>
    </div>
  </div>
</div>
<div class="buttonWrapper">
  <a class="Button btn btn-primary" (click)="chooseFeature()">Insert</a>
</div>
