<div id="template_34">
  <div class="byui {{courseClass}}">
      <h2>Overview</h2>
      <p>In this activity, you will
          <strong>write</strong> an
          <strong>essay that
              [reviews, argues, explains, etc.]
          </strong>
           [describe and
              <strong>highlight</strong> what must be reviewed] using
          [describe any resources or to be utilized]. Your essay should be written for
          [indicated audience] and show
          [purpose of essay]. Your instructor will
          [indicate instructor's role in this activity].</p>

      <h2>Instructions</h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>
      <ol>
          <li>
              [Essay should adhere to the prescribed method]
          </li>
          <ol type="a">
              <li>
                  [Indicate required steps to complete—particularly if multiple documents/deliverables are required]
              </li>
              <li>
                  [Indicate any resources, documents, or databases needed to help complete]
              </li>
              <li>
                  [Indicate whether it will be completed individually or by group]
              </li>
              <li>
                  [Indicate any citation or style guide requirement]
              </li>
          </ol>
          <li>
              [Essay should utilize the appropriate tool(s)]
          </li>
          <ol type="a">
              <li>
                  [Indicate the tool, if any, that students will use and how they will use it].
              </li>
          </ol>
          <li>
              [Essay should show clear understanding/competency of topic(s)]
          </li>
          <ol type="a">
              <li>
                  [Indicate specific topics to cover and, if needed, when]
              </li>
          </ol>
          <li>
              [Essay should adhere to submission requirements]
          </li>
          <ol type="a">
              <li>
                  [Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or
                      if there are multiple deliverables]
              </li>
              <li>
                  [If group essay, then include expectations of members as well as criteria for grading individuals and
                      groups]
              </li>
          </ol>
      </ol>
      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
  </div>
</div>
