<div id="template_31">
  <div class="byui {{courseClass}}">
      <h2>Overview</h2>
      <p>In this activity, you will
          <strong>complete</strong> an
          <strong>exam to demonstrate</strong>
          [describe and
              <strong>highlight</strong> what must be demonstrated] This will
           [indicate purpose] Your instructor will
          [indicate instructor’s role in this activity].</p>
      <h2>Instructions</h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>
      <ol>
          <li>
              [Exam reponses should adhere to the prescribed method]
          </li>
          <ol type="a">
              <li>
                  [Indicate whether it will be completed individually or by group]
              </li>
              <li>
                  [Indicate any unique steps or resources needed to complete—e.g. Whether it is proctored]
              </li>
          </ol>
          <li>
              [Exam reponses should utilize the appropriate tool(s)]
          </li>
          <ol type="a">
              <li>
                  [Indicate the tool, if any, that students will use and how they will use it—e.g. Proctoring software]
              </li>
          </ol>
          <li>
              [Exam reponses should adhere to submission requirements]
          </li>
          <ol type="a">
              <li>
                  [If group exam, then include expectations of members as well as criteria for grading individuals and
                      groups]
              </li>
              <li>
                  [Indicate number of attempts permitted and whether students can save and return to exam later]
              </li>
          </ol>
      </ol>
      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
  </div>
</div>
