<div id="template_38">
  <div class="byui {{courseClass}}">
      <h2>Overview</h2>
      <p>In this activity, you will
          <strong>write a reflection on</strong>
           [describe and
              <strong>highlight</strong> topics/discussions] for
          [indicate the audience] that
          [purpose of activity]. Your instructor will
          [indicate instructor’s role in this activity].</p>
      <h2>Instructions</h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>
      <ol>
          <li>
              [Write-up should adhere to the prescribed method]
          </li>
          <ol type="a">
              <li>
                  [Indicate required steps to complete—particularly if multiple documents/deliverables are required]
              </li>
              <li>
                  [Indicate any resources, documents, or artifacts needed to help complete]
              </li>
              <li>
                  [Indicate whether it will be completed individually or by group]
              </li>
          </ol>
          <li>
              [Write-up should utilize the appropriate tool(s)]
          </li>
          <ol type="a">
              <li>
                  [Indicate the tool, if any, that students will use and how they will use it].
              </li>
          </ol>
          <li>
              [Write-up should show thoughtful reflection of topic(s)]
          </li>
          <ol type="a">
              <li>
                  [Indicate any previous topics, activities, or behaviors that should be reflected]
              </li>
          </ol>
          <li>
              [Write-up should adhere to submission requirements]
          </li>
          <ol type="a">
              <li>
                  [Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or
                      if there are multiple deliverables]
              </li>
              <li>
                  [Indicate page or word limits]
              </li>
          </ol>
      </ol>

      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
  </div>
</div>
