<div id="template_reflection">
  <div class="byui {{courseClass}}">
    <div class="overview">
      <h2>Overview</h2>
      <p>Review the description below for a quick overview of this activity.</p>
      <ul>
        <li>
          <strong>Task:</strong>
          <em> Write a reflection on</em> [describe and
          <em>highlight</em> what to reflect on] for [indicate the audience].</li>
        <li>
          <strong>Purpose:</strong> This will [explain purpose and value].</li>
        <li>
          <strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity].</li>
      </ul>
    </div>
    <div class="instructions">
      <h2>Instructions</h2>
      <p>To successfully complete this activity, carefully follow these steps:</p>
      <ol>
        <li>[Reflection should adhere to the prescribed method]
          <ol>
            <li>[Indicate required steps to complete&mdash;particularly if multiple documents/deliverables are required]</li>
            <li>[Indicate any resources, documents, or artifacts needed to help complete]</li>
            <li>[Indicate whether it will be completed individually or by group]</li>
          </ol>
        </li>
        <li>[Reflection should utilize the appropriate tool(s)]
          <ol>
            <li>[Indicate the tool, if any, that students will use and how they will use it].</li>
          </ol>
        </li>
        <li>[Reflection should show thoughtful reflection of topic(s)]
          <ol>
            <li>[Indicate any previous topics, activities, or behaviors that should be reflected].</li>
          </ol>
        </li>
        <li>[Reflection should adhere to submission requirements]
          <ol>
            <li>[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there
              are multiple deliverables]</li>
            <li>[Indicate page or word limits]</li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="custom">
      <h2>[Custom H2 (Optional)]</h2>
      <ul>
        <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
      </ul>
    </div>
  </div>
</div>
