<div id="template_33">
  <div class="byui {{courseClass}}">
      <h2>Overview</h2>
      <p>In this activity, you will
          <strong>complete</strong> a
          <strong>project that
              [demonstrates, explains, showcases, etc.]
          </strong>
           [describe and
              <strong>highlight</strong> what must be showcased]with
          [describe any resources or team members to be utilized]. Your project must demonstrate
          [purpose of project]for
          [indicate the audience]. Your instructor will
          [indicate instructor’s role in this activity].</p>
      <h2>Instructions</h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>
      <ol>
          <li>
              [Project should adhere to the prescribed method]
          </li>
          <ol type="a">
              <li>
                  [Indicate required steps to complete—particularly if multiple documents/deliverables are required]
              </li>
              <li>
                  [Indicate any resources, documents, or artifacts needed to help complete]
              </li>
              <li>
                  [Indicate whether it will be completed individually or by group]
              </li>
              <li>
                  [Indicate any citation or style guide requirement, if any]
              </li>
          </ol>
          <li>
              [Project should utilize the appropriate tool(s)]
          </li>
          <ol type="a">
              <li>
                  [Indicate the tool, if any, that students will use and how they will use it]
              </li>
              <li>
                  [If using a slide deck, specify if there is a required number of slides]
              </li>
          </ol>
          <li>
              [Project should show clear understanding/competency of topic(s)/skill(s)]
          </li>
          <ol type="a">
              <li>
                  [Indicate specific topics/skills that should be reflected]
              </li>
          </ol>
          <li>
              [Project should adhere to submission requirements]
          </li>
          <ol type="a">
              <li>
                  [Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or
                      if there are multiple deliverables]
              </li>
              <li>
                  [If group project, then include expectations of members as well as criteria for grading individuals and
                      groups]
              </li>
          </ol>
      </ol>
      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
  </div>
</div>
