<div id="template_34">
  <div class="byui {{courseClass}}">
    <h2>Overview</h2>
    <p>Review the description below for a quick overview of this activity.</p>
    <ul>
      <li><strong>Task:</strong> <em>Write a paper</em> that <em>[reviews, argues, explains, etc.]</em> [describe and <em>highlight</em> topic(s)] for [indicate the audience].</li>
      <li><strong>Purpose:</strong> This will [explain purpose and value].</li>
      <li><strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity.]</li>
    </ul>
    <br/>
    <h2>Instructions </h2>
    <p>To successfully complete this activity, carefully follow these steps:</p>
    <ol>
        <li>[Essay should adhere to the prescribed method]
          <ol type="a">
            <li>[Indicate required steps to complete—particularly if multiple documents/deliverables are required]</li>
            <li>[Indicate any resources, documents, or databases needed to help complete]</li>
            <li>[Indicate whether it will be completed individually or by group]</li>
            <li>[Indicate any citation or style guide requirement]</li>
          </ol>
        </li>
        <li>[Essay should utilize the appropriate tool(s)]
          <ol type="a">
            <li>[Indicate the tool, if any, that students will use and how they will use it].</li>
          </ol>
        </li>
        <li>[Essay should show clear understanding of topic(s)]
          <ol type="a">
            <li>[Indicate specific topics to cover and, if needed, when].</li>
          </ol>
        </li>
        <li>[Essay should adhere to submission requirements]
          <ol type="a">
            <li>[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there are multiple deliverables]</li>
            <li>[If group essay, then include expectations of members as well as criteria for grading individuals and groups]</li>
          </ol>
        </li>
    </ol>
    <br/>
    <h3>[Custom H3 (Optional)]</h3>
    <ul>
      <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
    </ul>
  </div>
</div>
