<div id="template_11">
  <div class="byui {{courseClass}}">
    <h2>Overview</h2>
    <p>Review the description below for a quick overview of this activity.</p>
    <ul>
      <li><strong>Task:</strong> <em>Create</em> a <em>project plan for</em> [identify and <em>highlight</em> project].</li>
      <li><strong>Purpose:</strong> This will [explain purpose and value].</li>
      <li><strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity.]</li>
    </ul>
    <br/>
    <h2>Instructions </h2>
    <p>To successfully complete this activity, carefully follow these steps:</p>
    <ol>
        <li>[Project plan should adhere to the prescribed method]
          <ol type="a">
            <li>[Indicate required steps to complete—particularly if multiple documents/deliverables are required]</li>
            <li>[Indicate any goals or plans which students must articulate up front, and how they will be held accountable]</li>
            <li>[Indicate any resources, documents, or artifacts needed to complete plan]</li>
            <li>[Indicate whether it will be completed individually or by group]</li>
          </ol>
        </li>
        <li>[Project plan should utilize the appropriate tool(s)]
          <ol type="a">
            <li>[Indicate the tool, if any, that students will use and how they will use it].</li>
          </ol>
        </li>
        <li>[Project plan should adhere to submission requirements]
          <ol type="a">
            <li>[Specify timeline for submission, especially if there are multiple deliverables]</li>
            <li>[If group project, then include expectations of members as well as criteria for grading individuals and groups]</li>
          </ol>
        </li>
    </ol>
    <br/>
    <h3>[Custom H3 (Optional)]</h3>
    <ul>
      <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
    </ul>
  </div>
</div>
