<div id="template_4">
  <div class="byui {{courseClass}}">
    <h2>Overview</h2>
    <p>Review the description below for a quick overview of this activity.</p>
    <ul>
      <li><strong>Task:</strong> <em>Complete</em> a <em>pretest on</em> [describe and <em>highlight</em> what must be understood].</li>
      <li><strong>Purpose:</strong> This will [explain purpose and value].</li>
      <li><strong>Instructor:</strong> Your instructor will [Describe relevant instructor role in activity.]</li>
    </ul>
    <br/>
    <h3>[Conditions/Readings/Notes (Optional)]</h3>
    <ul>
      <li>[Indicate whether it is open-book/note OR closed-book/note]</li>
      <li>[Explain when students will see correct answers]</li>
      <li>[Include any required link(s) to prior readings]</li>
    </ul>
  </div>
</div>
