<div id="template_2">
  <div class="byui {{courseClass}}">
      <h2>Overview</h2>
      <p>

              <strong>[Read/Watch/Listen to][name of material]</strong>
          . As you
          [read/watch/listen to][name of material],
          [
              <strong>watch for, pay attention to</strong>, etc.]
              <strong>[significant topic to be explored]</strong>
          . </p>
      <h2>Instructions</h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>

      <ol>
          <li>
              [Process Requirements? If any, indicate]
          </li>
          <ol type="a">
              <li>
                  [List of things to read/watch/listen to]
              </li>
          </ol>
          <li>
              [Tool Requirements? If any, indicate tutorials or other helpful resources]
          </li>
      </ol>
      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
      <p>You will be graded using the criteria below
          [include criteria and levels].</p>
  </div>
</div>
