<div id="template_2">
  <div class="byui {{courseClass}}">
    <h2>Overview</h2>
    <p>Review the description below for a quick overview of this activity.</p>
    <ul>
      <li><strong>Task:</strong> <em>[Study/Review] [name of material(s)].</em></li>
      <li><strong>Purpose:</strong> This will [explain purpose and value].</li>
      <li><strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity.]</li>
    </ul>
    <br/>
    <h2>Instructions </h2>
    <p>To successfully complete this activity, carefully follow these steps:</p>
    <ol>
        <li>[Process Requirements? If any, indicate]
          <ol type="a">
            <li>[List of things to read/watch/listen to]</li>
          </ol>
        </li>
        <li>[Tool Requirements? If any, indicate tutorials or other helpful resources]</li>
    </ol>
    <br/>
    <h3>[Custom H3 (Optional)]</h3>
    <ul>
      <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
    </ul>
  </div>
</div>
