<div id="template_4">
  <div class="byui {{courseClass}}">
      <h2>Overview </h2>
      <p>In this activity, you will
          <strong>complete</strong> a
          <strong>pre-assessment to determine your understanding</strong> of
          [describe and
              <strong>highlight</strong> what must be understood]. This will
          [indicate purpose]. Your instructor will
          [indicate instructor's role in this activity].</p>
      <h2>Instructions </h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>
      <ol>
          <li>
              [Quiz responses should adhere to the prescribed method]
          </li>
          <ol type="a">
              <li>
                  [Indicate whether it will be completed individually or by group]
              </li>
              <li>
                  [Indicate any unique steps needed to complete]
              </li>
              <li>
                  [Indicate what resources, if any, are permitted]
              </li>
          </ol>
          <li>
              [Quiz responses should utilize the appropriate tool(s)]
          </li>
          <ol type="a">
              <li>
                  [Indicate the tool, if any, that students will use and how they will use it].</li>
          </ol>
          <li>
              [Quiz responses should adhere to submission requirements]
          </li>
          <ol type="a">
              <li>
                  [If group quiz, then include expectations of members as well as criteria for grading individuals and
                      groups]
              </li>
          </ol>
      </ol>
      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
  </div>
</div>
