<div id="template_3">
  <div class="byui {{courseClass}}">
      <h2>Overview </h2>
      <h2>Preparation</h2>
      <p>In order to complete
          [name of TOA/Ponder/Prove activity], you will need to

              <strong>[read/watch/listen to][name of material]</strong>
          . As you do so,

              <strong>[watch for, pay attention to</strong>, etc.]
              <strong>[significant topic(s) to be explored]</strong>
          .</p>
      <h2>Instructions</h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>
      <ol>
          <li>
              [Specify what students are supposed to with the topic they are exploring]
          </li>
      </ol>
      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
      <p>You will be graded using the criteria below
          [include criteria and levels].</p>
  </div>
</div>
