<div class="row">
  <div class="option">
    <h2>Prepare</h2>
    <div>
      <p>Guidelines</p>
    </div>
    <input type="checkbox" [checked]="showAsHtml" (change)="showAsHtml = !showAsHtml">
    <label>Show as HTML</label>
  </div>
  <div>
    <div class="preview" id="buttonOut">
      <h4>Preview:</h4>
      <app-prepare *ngIf="!showAsHtml" [courseClass]="courseClass"></app-prepare>
      <pre *ngIf="showAsHtml">
&lt;div class="byui {{courseClass}}">
&lt;div class="overview">
  &lt;h2>Overview&lt;/h2>
  &lt;p>Review the description below for a quick overview of this activity.&lt;/p>
  &lt;ul>
      &lt;li>
          &lt;strong>Task:&lt;/strong>
          &lt;em> Prepare for &lt;/em>[describe and
          &lt;em>highlight &lt;/em>what to prepare for].&lt;/li>
      &lt;li>
          &lt;strong>Purpose:&lt;/strong> This will [explain purpose and value].&lt;/li>
      &lt;li>
          &lt;strong>Instructor:&lt;/strong> Your instructor will [describe relevant instructor role in activity].&lt;/li>
  &lt;/ul>
&lt;/div>
&lt;div class="instructions">
  &lt;h2>Instructions&lt;/h2>
  &lt;p>To successfully complete this activity, carefully follow these steps:&lt;/p>
  &lt;ol>
      &lt;li>[Preparation should adhere to the prescribed method]
          &lt;ol>
              &lt;li>[Indicate what students are preparing for and the timeline expectations]&lt;/li>
              &lt;li>[Indicate whether it will be completed individually or by group]&lt;/li>
          &lt;/ol>
      &lt;/li>
      &lt;li>[Preparation should utilize the appropriate tool(s)]
          &lt;ol>
              &lt;li>[Indicate the tool, if any, that students will use and how they will use it]&lt;/li>
          &lt;/ol>
      &lt;/li>
      &lt;li>[Preparation should adhere to submission requirements]
          &lt;ol>
              &lt;li>[Indicate whether a deliverable is required for this activity]&lt;/li>
              &lt;li>[If group work is required, then include expectations of members as well as criteria for grading
                  individuals and groups]&lt;/li>
          &lt;/ol>
      &lt;/li>
  &lt;/ol>
&lt;/div>
&lt;div class="custom">
  &lt;h2>[Custom H2 (Optional)]&lt;/h2>
  &lt;ul>
      &lt;li>[Include any additional information such as notes, reminders, next steps, etc.]&lt;/li>
  &lt;/ul>
&lt;/div>
&lt;/div>
      </pre>
    </div>
  </div>
</div>
<div class="buttonWrapper">
  <a class="Button btn btn-primary" (click)="chooseFeature()">Insert</a>
</div>
