<div id="template_24">
  <div class="byui {{courseClass}}">
      <h2>Overview</h2>
      <p>In this forum, you are invited to
          <strong>post</strong> your
          <strong>questions to</strong> the
          [indicate and
              <strong>highlight</strong> forum type; e.g. class, unit, topic-based support forum, or Question and Answer board].
          You are encouraged to
          <strong>support and help each other</strong> by responding to other's questions. Your
          [specify "instructor" or "TA"]
          [indicate instructor’s and/or TA's role in this activity].</p>
      <h2>Instructions</h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>
      <ol>
          <li>
              [If posting a question, students should adhere to the prescribed method]
          </li>
          <ol type="a">
              <li>
                  [Indicate if a specific process should be followed; e.g. forward questions to a partner first, then a
                      group, then the class if still unanswered]
              </li>
              <li>
                  [Consider emphasizing that, where appropriate, students should include screenshots]
              </li>
              <li>
                  [If a forum is time bound, indicate the timeframe]
              </li>
              <li>
                  [Emphasize the timeframe in which an instructor will respond to a question; e.g. instructors won’t respond
                      for 24 hrs to give students a chance to answer each other]
              </li>
          </ol>
          <li>
              [If posting a question, students should utilize the appropriate tool(s)]
          </li>
          <ol type="a">
              <li>
                  [Indicate the location of the forum (if using I-Learn)—emphasizing if it is course-wide, module specific,
                      or activity specific]
              </li>.
              <li>
                  [Indicate any external tools being used for forums, if any]
              </li>.
          </ol>
      </ol>
      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
  </div>
</div>
