<div id="template_15">
  <div class="byui {{courseClass}}">
    <h2>Overview</h2>
    <p>Review the description below for a quick overview of this activity.</p>
    <ul>
      <li><strong>Task:</strong> <em>With your group, analyze</em> the [describe and <em>highlight</em> the scenario or problem], and evaluate alternative solutions to address [indicate and highlight the scenario or problem].</li>
      <li><strong>Purpose:</strong> This will [explain purpose and value].</li>
      <li><strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity.]</li>
    </ul>
    <br/>
    <h2>Instructions </h2>
    <p>To successfully complete this activity, carefully follow these steps:</p>
    <ol>
        <li>[Team should adhere to the prescribed method]
          <ol type="a">
            <li>[Indicate the format of the case; e.g. Is it a simplified mini case? Multiple complex cases requiring teams to make decisions with limited information?]</li>
            <li>[Indicate any needed or helpful resources; e.g. Decision-making and consequences of professionals—after students have analyzed case.]</li>
            <li>[Indicate any metrics for determining good decision-making and reasoning]</li>
            <li>[Indicate any requirements regarding persuasiveness, professionalism, etc.]</li>
          </ol>
        </li>
        <li>[Team should utilize the appropriate tool(s) to organize, share, and present findings]
          <ol type="a">
            <li>[Indicate the tool that students will use to collaborate, if any; and, how they will share their solutions, with optional tutorials to utilize].</li>
            <li>[If using a slide deck, specify if there is a required number of slides].</li>
          </ol>
        </li>
        <li>[Team should demonstrate clear understanding of topics]
          <ol type="a">
            <li>[Indicate any high-level topics to cover and when]</li>
          </ol>
        </li>
        <li>[Team should adhere to submission requirements]
          <ol type="a">
            <li>[If group presentation, then include expectations of members as well as criteria for grading individuals and groups]</li>
            <li>[Specify timeline for submission, especially if revisions are allowed and/or peer feedback is solicited]</li>
          </ol>
        </li>
    </ol>
  </div>
</div>
