<div id="template_fieldExperience">
    <div class="byui {{courseClass}}">
        <div class="overview">
            <h2>Overview</h2>
            <p>Review the description below for a quick overview of this activity.</p>
            <ul>
                <li>
                    <strong>Task:</strong>
                    <em> Conduct </em>a
                    <em> field experience </em>outside of class
                    <em> to</em> [indicate and
                    <em>highlight</em> type of Field Experience&mdash;e.g., Interview or shadow a professional, conduct an experiment,
                    teach or present to someone, etc].</li>
                <li>
                    <strong>Purpose:</strong> This will [explain purpose and value].</li>
                <li>
                    <strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity].</li>
            </ul>
        </div>
        <div class="instructions">
            <h2>Instructions</h2>
            <p>To successfully complete this activity, carefully follow these steps:</p>
            <ol>
                <li>[Team or Individual should adhere to the prescribed method]
                    <ol>
                        <li>[Specify any unique requirements; e.g., sharing experiences with others in discussion forums or on
                            social media]
                        </li>
                        <li>[Specify what activities should be completed; e.g. take notes, analyze processes, gather work samples,
                            record videos, etc.]</li>
                    </ol>
                </li>
                <li>[Team or Individual [specify] should utilize the appropriate tool(s)]
                    <ol>
                        <li>[Specify tools to be used for knowledge sharing, collaborating and sharing report]</li>
                    </ol>
                </li>
                <li>[Team or Individual [specify] should demonstrate clear understanding of topics]
                    <ol>
                        <li>[Specify any intended topics or abilities needing to be captured in report]</li>
                    </ol>
                </li>
                <li>[Team or Individual [specify] should adhere to submission requirements]
                    <ol>
                        <li>[Specify format of report; e.g., written, presentation (asynchronous or synchronous), or video]</li>
                        <li>[Specify audience for report; e.g., small group, instructor, or class]</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div class="custom">
            <h2>[Custom H2 (Optional)]</h2>
            <ul>
                <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
            </ul>
        </div>
    </div>
</div>