<div id="template_18">
  <div class="byui {{courseClass}}">
    <h2>Overview</h2>
    <p>Review the description below for a quick overview of this activity.</p>
    <ul>
      <li><strong>Task:</strong> <em>Within your group,</em> work together to <em>create a</em> [indicate and <em>highlight</em> deliverable; e.g., paper, report, presentation, video, etc.] for [indicate the audience].</li>
      <li><strong>Purpose:</strong> This will [explain purpose and value].</li>
      <li><strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity.]</li>
    </ul>
    <br/>
    <h2>Instructions </h2>
    <p>To successfully complete this activity, carefully follow these steps:</p>
    <ol>
        <li>[Group should adhere to the prescribed method]
          <ol type="a">
            <li>[Specify how students are grouped, if not done already]</li>
            <li>[Specify any parameters for selecting appropriate topics]</li>
            <li>[Specify any goals and project dates]</li>
            <li>[Specify the format of the product and how students will be graded for the product and the process]</li>
            <li>[Specify expectations for dividing up and assigning tasks among group members]</li>
          </ol>
        </li>
        <li>[Group should utilize the appropriate resources and tools]
          <ol type="a">
            <li>[Explain what resources are acceptable for research; e.g. scholarly, popular, expert interview, etc.]</li>
            <li>[Specify what tool(s) should be used for collaborating and presenting artifact]</li>
          </ol>
        </li>
        <li>[Group should demonstrate clear understanding of topics]
          <ol type="a">
            <li>[Specify any intended topics or competencies that will be assessed]</li>
          </ol>
        </li>
        <li>[Group should adhere to submission requirements]
          <ol type="a">
            <li>[Specify any formatting requirements or time/length restrictions]</li>
            <li>[Reiterate the intended audience of the report and presentation and their role]</li>
            <li>[Specify how groups and individuals will be graded for their role in group project]</li>
            <li>[Specify any other submission requirements]</li>
          </ol>
        </li>
    </ol>
    <br/>
    <h3>[Custom H3 (Optional)]</h3>
    <ul>
      <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
    </ul>
  </div>
</div>
