<div id="template_14">
  <div class="byui {{courseClass}}">
      <h2>Overview</h2>
      <p>In this activity, you will make a
          <strong>presentation </strong>that

              <strong>[demonstrates/explains/showcases]</strong>[describe and
              <strong>highlight</strong> what must be showcased]
          <strong>in
              [#] [minutes/slides] or less</strong>. You must convince
          [indicate the audience] that
          [purpose of presentation]. Your instructor will
          [indicate instructor’s role in this activity].</p>
      <h2>Instructions</h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>
      <ol>
          <li>
              [Presentation should adhere to the prescribed method]
          </li>
          <ol type="a">
              <li>
                  [Indicate whether it will be completed individually or by group]
              </li>
              <li>
                  [Indicate required documents to include]
              </li>
              <li>
                  [Indicate any requirements for visuals; if so, provide resources to find free/open images]
              </li>
          </ol>
          <li>
              [Presentation should utilize the appropriate tool(s)]
          </li>
          <ol type="a">
              <li>
                  [Indicate the tool that students will use and how they will present, with optional tutorials to utilize].
              </li>
              <li>
                  [If using a slide deck, specify if there is a required number of slides].
              </li>
          </ol>
          <li>
              [Presentation should show clear understanding of topic(s)]
          </li>
          <ol type="a">
              <li>
                  [Indicate any high-level topics to cover and when].
              </li>
          </ol>
          <li>
              [Presentation should adhere to submission requirements]
          </li>
          <ol type="a">
              <li>
                  [If group presentation, then include expectations of members as well as criteria for grading individuals
                      and groups]
              </li>
              <li>
                  [Specify timeline for submission, especially if revisions are allowed and/or peer feedback is solicited]
              </li>
          </ol>
      </ol>
      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
  </div>
</div>
