<div id="template_27">
  <div class="byui {{courseClass}}">
      <h2>Overview</h2>
      <p>In this activity, you will work with your organized
          <strong>small group</strong> to
          <strong>review</strong>
          [indicate and
              <strong>highlight</strong> specific topic(s) to be studied] so that
          [purpose of activity]. Your instructor will
          [indicate instructor’s role in this activity].</p>
      <h2>Instructions</h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>
      <ol>
          <li>
              [Study groups should adhere to the prescribed method]
          </li>
          <ol type="a">
              <li>
                  [Specify any assigned activities; e.g. complete group assignments, study for assessments, create topic
                      definitions document, etc.]
              </li>
              <li>
                  [Specify any upfront expectations and instructions on how the group should function and what will be
                      the outcome of the group’s efforts]
              </li>
              <li>
                  [Indicate the timeline for this activity]
              </li>
          </ol>
          <li>
              [Study groups should utilize the appropriate tool(s)]
          </li>
          <ol type="a">
              <li>
                  [Provide any needed resources or tools to help facilitate group study and collaboration; if possible,
                      provide several recommendations for both asynchronous and synchronous tools]
              </li>.
          </ol>
          <li>
              [Study groups should adhere to submission requirements]
          </li>
          <ol type="a">
              <li>
                  [If graded, specify how individuals and/or groups will be assessed through a rubric]
              </li>
          </ol>
      </ol>
      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
  </div>
</div>
