<div id="template_21">
  <div class="byui {{courseClass}}">
      <h2>Overview</h2>
      <p>Students will be arranged into small groups to research
          [indicate topic]
          <strong>Each</strong> group
          <strong>member</strong> is
          <strong>assigned</strong> a
          <strong>different piece of information</strong> about
          [indicate and
              <strong>highlight</strong> topic] to become an expert in. The
          <strong>expert members from each group</strong> will
          <strong>meet</strong> together to research and/or
          <strong>share the information</strong>, then
          <strong>return to</strong> their
          <strong>original groups</strong> and
          <strong>present</strong> what they have learned. This will help your groups to create a clearer picture of
          [specify the topic]. Your instructor will
          [indicate instructor’s role in this activity].</p>
      <h2>Instructions</h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>
      <ol>
          <li>
              [Group members should adhere to the prescribed method]
          </li>
          <ol type="a">
              <li>
                  [Specify any readings, key questions or principles, or other guidelines to direct research.]
              </li>
              <li>
                  [[Specify timeline for each portion of activity]
              </li>
              <li>
                  [Indicate how groups are organized and size]
              </li>
              <li>
                  [Indicate whether topics can be chosen by groups, usually from a preset list, or are assigned from a
                      preset list]
              </li>
              <li>
                  [Specify process, readings, expectations, timeline, and deliverables for “experts” to take back to their
                      respective groups]
              </li>
              <li>
                  [Specify process, readings, expectations, timeline, and deliverables within peer groups]
              </li>
          </ol>
          <li>
              [Group members should utilize the appropriate tool(s) for collaboration and presenting]
          </li>
          <ol type="a">
              <li>
                  [Indicate tools for collaboration, sharing and future presenting]
              </li>.
          </ol>
          <li>
              [Group members should demonstrate clear understanding of topic(s)]
          </li>
          <ol type="a">
              <li>
                  [Specify any intended topics or competencies that will be assessed]
              </li>
          </ol>
          <li>
              [Group members should adhere to the submission requirements]
          </li>
          <ol type="a">
              <li>
                  [Include all grading criteria across the multiple steps as well as how individuals and/or groups will
                      be assessed]
              </li>
          </ol>
      </ol>
      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
  </div>
</div>
