<div id="template_21">
  <div class="byui {{courseClass}}">
    <h2>Overview</h2>
    <p>Review the description below for a quick overview of this activity.</p>
    <ul>
      <li><strong>Task:</strong> <em>Within your group, research</em> [indicate and <em>highlight</em> topic component] to create a clearer picture of [specify the topic].</li>
      <li><strong>Purpose:</strong> This will [explain purpose and value].</li>
      <li><strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity.]</li>
    </ul>
    <br/>
    <h2>Instructions </h2>
    <p>To successfully complete this activity, carefully follow these steps:</p>
    <ol>
        <li>[Group members should adhere to the prescribed method]
          <ol type="a">
            <li>[Specify any readings, key questions or principles, or other guidelines to direct research.]</li>
            <li>[Specify timeline for each portion of activity]</li>
            <li>[Indicate how groups are organized and size]</li>
            <li>[Indicate whether topics can be chosen by groups, usually from a preset list, or are assigned from a preset list]</li>
            <li>[Indicate that group “experts” have to meet with other group “experts” in the same topic to research and discuss about it]</li>
            <li>[Specify process, readings, expectations, timeline, and deliverables for “experts” to take back to their respective groups]</li>
            <li>[Specify process, readings, expectations, timeline, and deliverables within peer groups]</li>
          </ol>
        </li>
        <li>[Group members should utilize the appropriate tool(s) for collaboration and presenting]
          <ol type="a">
            <li>[Indicate tools for collaboration, sharing and future presenting]</li>
          </ol>
        </li>
        <li>[Group members should demonstrate clear understanding of topic(s)]
          <ol type="a">
            <li>[Specify any intended topics or competencies that will be assessed]</li>
          </ol>
        </li>
        <li>[Group members should adhere to the submission requirements]
          <ol type="a">
            <li>[Include all grading criteria across the multiple steps as well as how individuals and/or groups will be assessed]</li>
          </ol>
        </li>
    </ol>
  </div>
</div>
