<div id="template_17">
  <div class="byui {{courseClass}}">
    <h2>Overview</h2>
    <p>Review the description below for a quick overview of this activity.</p>
    <ul>
      <li><strong>Task:</strong> <em>Within your group,</em> work together to <em>discover</em> and <em>organize</em> [indicate and <em>highlight</em> concepts].</li>
      <li><strong>Purpose:</strong> This will [explain purpose and value].</li>
      <li><strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity.]</li>
    </ul>
    <br/>
    <h2>Instructions </h2>
    <p>To successfully complete this activity, carefully follow these steps:</p>
    <ol>
        <li>[Group should adhere to the prescribed method]
          <ol type="a">
            <li>[Specify if groups need to be arranged by students]</li>
            <li>[Specify any required tasks and roles in groups]</li>
            <li>[Specify the timeline for the activity and how often it should occur]</li>
          </ol>
        </li>
        <li>[Group should utilize the appropriate tool(s) for collaboration and knowledge sharing]
          <ol type="a">
            <li>[Specify tool and/or resources to be used for group collaboration and knowledge sharing].</li>
          </ol>
        </li>
        <li>[Group should demonstrate clear understanding of topics]
          <ol type="a">
            <li>[Specify any intended topics or competencies that will be assessed]</li>
          </ol>
        </li>
        <li>[Group should adhere to submission requirements]
          <ol type="a">
            <li>[Specify or include a rubric defining how students are to be graded both individually and collectively]</li>
          </ol>
        </li>
    </ol>
    <br/>
    <h3>[Custom H3 (Optional)]</h3>
    <ul>
      <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
    </ul>
  </div>
</div>
