<div id="template_27">
  <div class="byui {{courseClass}}">
    <h2>Overview</h2>
    <p>Review the description below for a quick overview of this activity.</p>
    <ul>
      <li><strong>Task:</strong> <em>Within your group, study</em> and <em>review</em> [indicate and <em>highlight</em> specific topic(s) to be studied].</li>
      <li><strong>Purpose:</strong> This will [explain purpose and value].</li>
      <li><strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity.]</li>
    </ul>
    <br/>
    <h2>Instructions </h2>
    <p>To successfully complete this activity, carefully follow these steps:</p>
    <ol>
        <li>[Study groups should adhere to the prescribed method]
          <ol type="a">
            <li>[Specify any assigned activities; e.g. complete group assignments, study for assessments, create topic definitions document, etc.]</li>
            <li>[Specify any upfront expectations and instructions on how the group should function and what will be the outcome of the group’s efforts]</li>
            <li>[Indicate the timeline for this activity]</li>
          </ol>
        </li>
        <li>[Study groups should utilize the appropriate tool(s)]
          <ol type="a">
            <li>[Provide any needed resources or tools to help facilitate group study and collaboration; if possible, provide several recommendations for both asynchronous and synchronous tools]</li>
          </ol>
        </li>
        <li>[Study groups should adhere to submission requirements]
          <ol type="a">
            <li>[If graded, specify how individuals and/or groups will be assessed through a rubric]</li>
          </ol>
        </li>
    </ol>
    <br/>
    <h3>[Custom H3 (Optional)]</h3>
    <ul>
      <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
    </ul>
  </div>
</div>
