<div id="template_19">
  <div class="byui {{courseClass}}">
      <h2>Overview</h2>
      <p>
          <strong>Introduce yourselves to each other and</strong> to your
          <strong>instructor</strong>. The purpose of this activity is to prepare personal connections and to promote a culture
          of open online communication. As you introduce yourself, your instructor will
          [indicate instructor’s role in this activity].</p>
      <h2>Instructions</h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>
      <ol>
          <li>
              [Students should adhere to the prescribed method]
          </li>
          <ol type="a">
              <li>
                  [Indicate criteria; e.g. specific questions, sharing a learning plan, a researched introduction from
                      their profession, pictures of themselves, research and share takeaways about a class topic, etc.]
              </li>
              <li>
                  [Provide helpful resources, if criteria solicits details beyond personal information]
              </li>
              <li>
                  [Specify if students will share with group or class; if group, then specify any group norming expectations]
              </li>
          </ol>
          <li>
              [Students should utilize the appropriate tool(s)]
          </li>
          <ol type="a">
              <li>
                  [Specify any tools needed for collaboration, if outside I-Learn]
              </li>.
          </ol>
          <li>
              [Students should show respect and courtesy to their peers]
          </li>
          <ol type="a">
              <li>
                  [Specify any courtesy or etiquette requirements]
              </li>
              <li>
                  [Specify expectations for peers to respond to comments, if any]
              </li>
          </ol>
          <li>
              [Students will adhere to submission requirements]
          </li>
          <ol type="a">
              <li>
                  [Specify any style, length or formatting requirements]
              </li>
              <li>
                  [Specify dates, especially if there are multiple post dates]
              </li>
          </ol>
      </ol>
      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
  </div>
</div>
