<div id="template_28">
  <div class="byui {{courseClass}}">
      <h2>Overview</h2>
      <p>Review the description below for a quick overview of this activity.</p>
      <ul>
        <li><strong>Task:</strong> <em>Contribute to a discussion on</em> [indicate and <em>highlight</em> topic(s)].</li>
        <li><strong>Purpose:</strong> This will [explain purpose and value].</li>
        <li><strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity.]</li>
      </ul>
      <br/>
      <h2>Instructions </h2>
      <p>To successfully complete this activity, carefully follow these steps:</p>
      <ol>
          <li>[Students should post and respond to posts according to the prescribed method]
            <ol type="a">
              <li>[Indicate who will moderate discussion]</li>
              <li>[Indicate posting guidelines; e.g. frequency, quantity, quality, and nature of interactions—included in a rubric, if needed]</li>
              <li>[Indicate if students need to generate a topic to post and respond to in class or groups]</li>
            </ol>
          </li>
          <li>[Student should utilize the appropriate tool(s)]
            <ol type="a">
              <li>[Indicate if conducted asynchronously or synchronously; specify if done through I-Learn or using an external tool]</li>
            </ol>
          </li>
          <li>[Student should adhere to submission requirements]
            <ol type="a">
              <li>[Indicate timeline for posting and responding to posts, if both are required]</li>
              <li>[Indicate whether students need to submit anything to the instructor in addition to their participation in the discussions]</li>
            </ol>
          </li>
      </ol>
      <br/>
      <h3>[Custom H3 (Optional)]</h3>
      <ul>
        <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
      </ul>
  </div>
</div>
