<div id="template_25">
  <div class="byui {{courseClass}}">
    <h2>Overview</h2>
    <p>Review the description below for a quick overview of this activity.</p>
    <ul>
      <li><strong>Task:</strong> <em>Role play</em> [indicate and <em>highlight</em> role(s) to perform] so that [indicate what skill(s) or topic(s) will be applied].</li>
      <li><strong>Purpose:</strong> This will [explain purpose and value].</li>
      <li><strong>Instructor:</strong> Your instructor will [describe relevant instructor role in activity.]</li>
    </ul>
    <br/>
    <h2>Instructions </h2>
    <p>To successfully complete this activity, carefully follow these steps:</p>
    <ol>
        <li>[Students should adhere to the prescribed method]
          <ol type="a">
            <li>[Indicate to students what about their roles they need to understand]</li>
            <li>[Indicate any resources or readings to help them research their roles]</li>
            <li>[Indicate the format and timeframe; e.g. role-based discussion, debate, group debate, simulation, negotiations, variation of a jigsaw activity, etc.]</li>
          </ol>
        </li>
        <li>[Students should utilize the appropriate tool(s)]
          <ol type="a">
            <li>[Indicate any tools used for discussion, especially if outside of I-Learn and synchronous]</li>
          </ol>
        </li>
        <li>[Students should demonstrate clear understanding of the topic(s)]
          <ol type="a">
            <li>[Specify any intended topics or competencies that will be assessed]</li>
          </ol>
        </li>
        <li>[Students must adhere to submission requirements]
          <ol type="a">
            <li>[Indicate any unique submission requirements]</li>
            <li>[Indicate any other grading criteria not previously specified]</li>
          </ol>
        </li>
    </ol>
    <br/>
    <h3>[Custom H3 (Optional)]</h3>
    <ul>
      <li>[Include any additional information such as notes, reminders, next steps, etc.]</li>
    </ul>
  </div>
</div>
