<div id="template_23">
  <div class="byui {{courseClass}}">
      <h2>Overview</h2>
      <p>In this activity, you will
          <strong>offer</strong> and
          <strong>receive feedback from other students</strong> on their
          [indicate and
              <strong>highlight</strong> artifact; e.g. paper, presentation, or creative work] that they
          [specify if created with you or separately]. Your feedback will be used to
          [purpose of activity]. Your instructor will
          [indicate instructor’s role in this activity].</p>
      <h2>Instructions</h2>
      <p>To successfully complete the
          [Name of Activity], carefully follow these
          [criteria/steps]:</p>
      <ol>
          <li>
              [Feedback offered to peers should adhere to the prescribed method]
          </li>
          <ol type="a">
              <li>
                  [Include rubric specifying what meaningful feedback should address and include]
              </li>
              <li>
                  [Indicate timeline for feedback, especially if requiring multiple reviews and revisions; e.g. in preparing
                      a final product]
              </li>
              <li>
                  [Indicate peer group organization]
              </li>
          </ol>
          <li>
              [Feedback offered to peers should utilize the appropriate tool(s)]
          </li>
          <ol type="a">
              <li>
                  [Indicate any tool being used, especially if outside of I-Learn]
              </li>.
          </ol>
          <li>
              [Feedback offered to peers should adhere to submission requirements]
          </li>
          <ol type="a">
              <li>
                  [Indicate if projects are to be reviewed individually or by groups]
              </li>
              <li>
                  [Indicate if there is a requirement for reporting feedback; e.g. in a subsequent quiz or email]
              </li>
          </ol>
      </ol>
      <h2>Grading Rubric</h2>
      <p>
          (You may also combine this with the submission or other requirements specified above)
      </p>
  </div>
</div>
