<div class="byui {{courseClass}}">
    <div class="overview">
        <h2>Overview</h2>
        <p>Review the description below for a quick overview of this week&rsquo;s activities.</p>
        <ul>
            <li>
                <strong>Tasks: </strong>
                <em>Learn about</em> [emphasize
                <em>major</em>
                <em>topic</em>(s)], [emphasize
                <em>important</em>
                <em>activity</em> they shouldn&rsquo;t overlook], and [final activity of the week].</li>
            <li>
                <strong>Purpose:</strong> [Explain overall purpose and value behind the week&rsquo;s activities.]</li>
            <li>
                <strong>Instructor:</strong> [Describe instructor&rsquo;s high-level role for this week.]</li>
        </ul>
    </div>
    <div class="objectives">
        <h2>Objectives</h2>
        <p>Review the objectives below to better understand the goals for this week&rsquo;s activities.</p>
        <ul>
            <li>[Objective statement 1]</li>
            <li>[Objective statement 2]</li>
            <li>[Objective statement 3]</li>
            <li>[etc.]</li>
        </ul>
    </div>
    <div class="activities">
        <h2>Activities</h2>
        <p>Review the full list of activities below to understand what will be expected of you this week.</p>
        <ol>
            <li>[Activity 1 title - brief description of activity]</li>
            <li>[Activity 2 title - brief description of activity]</li>
            <li>[Activity 3 title - brief description of activity]</li>
            <li>[etc.]</li>
        </ol>
    </div>
</div>
