<div class="byui {{courseClass}}">
    <div class="overview">
        <h2>Overview</h2>
        <ul>
            <li>
                <strong>Tasks: </strong> Learn about [emphasize major topic(s)], [emphasize important activity they shouldn't overlook], and [final activity of the week].</li>
            <li>
                <strong>Purpose:</strong> [Explain overall purpose and value behind the week&rsquo;s activities.]</li>
            <li>
                <strong> [Instructor (Optional):</strong> Describe instructor&rsquo;s high-level role for this week.]</li>
        </ul>
    </div>
    <div class="objectives">
        <h2>Objectives</h2>
        <ul>
            <li>[Objective statement 1]</li>
            <li>[Objective statement 2]</li>
            <li>[Objective statement 3]</li>
            <li>[etc.]</li>
        </ul>
    </div>
    <div class="activities">
        <h2>Activities</h2>
        <ol>
            <li>[Activity 1 title - brief description of activity]</li>
            <li>[Activity 2 title - brief description of activity]</li>
            <li>[Activity 3 title - brief description of activity]</li>
            <li>[etc.]</li>
        </ol>
    </div>
</div>
