<div class="byui {{courseClass}}">
    <div class="objectives">
        <h2>Week Objectives</h2>
        <ul>
            <li>[Objective statement 1]</li>
            <li>[Objective statement 2]</li>
            <li>[Objective statement 3]</li>
            <li>[etc.]</li>
        </ul>
    </div>
    <div class="beforeTheWeekBegins">
        <h2>Before the Week Begins</h2>
        <ul>
            <li>Refer to the General Teaching Notes [link] or Course Map [link] as needed.</li>
            <li>Ensure your W[##] Announcement has been posted. (You may consider including a reminder that students can
                utilize the Announcements page to ask questions of you or others.)</li>
            <li>[Include any other relevant information for the instructor.]</li>
        </ul>
    </div>
    <div class="duringTheWeek">
        <h2>During the Week</h2>
        <ul>
            <li>Monitor and answer any questions that may arise in the Announcements page.</li>
            <li>Monitor and participate in [list any discussions taking place]. Help students focus on mastering the objectives
                for this week. Ask guiding questions to extend and deepen student learning.</li>
            <li>[Include any other relevant monitoring/participation activities for the instructor.]</li>
        </ul>
    </div>
    <div class="gradingFeedback">
        <h2>Grading/Feedback</h2>
        <ul>
            <li>[List all activities, indicate whether they are graded or auto-graded, and specify what level of feedback
                is needed.]
            </li>
        </ul>
    </div>
    <div class="lookingAhead">
        <h2>Looking Ahead</h2>
        <ul>
            <li>Please create and post your Announcement for W[##] by Friday of this week.</li>
        </ul>
    </div>
</div>
