<nav>
  <a href="#accordion">Accordion</a>
  <a href="#banner">Activity Banner</a>
  <!-- <a href="#bannerImg">Banner Image</a> -->
  <a href="#button">Button</a>
  <a href="#callout">Callout</a>
  <a href="#columns">Columns</a>
  <!-- <a href="#contentBox">Content Box</a> -->
  <a href="#definition">Definition</a>
  <a href="#dialog">Dialog</a>
  <a href="#image">Image</a>
  <a href="#imgCarousel">Image Carousel</a>
  <a href="#popover">Popover</a>
  <a href="#table">Table</a>
</nav>

<h3>Select the feature you would like to insert</h3>
