<div>
  <nav>
    <a class="tab local-nav" [routerLink]="['/page-templates']"
       [ngClass]="{'selected':selected === 'pageTemplates'}"
       (click)="update('pageTemplates')">
        <h4>Activity Templates</h4>
    </a>
    <a class="tab local-nav" [routerLink]="['/web-features']"
       [ngClass]="{'selected':selected === 'webFeatures'}"
       (click)="update('webFeatures')">
        <h4>Web Features</h4>
    </a>
  </nav>
  <div id="article">
    <router-outlet></router-outlet>
  </div>
</div>

