/* You can add global styles to this file, and also import other style files */
.row {
    display: flex;
    align-items: flex-start;
    padding: 5px;
}

.option,
.row>div,
.row>p {
    margin: 20px;
    box-sizing: border-box;
}

.option,
.row>p {
    min-width: 25%;
    width: 25%;
    max-width: 25%;
}

.preview {
    flex-grow: 1;
}

#article {
    margin-top: 74px;
}

input[type="text"],
textarea {
    width: 100%;
    margin: 10px 0 0;
}

textarea {
    resize: vertical;
}

#article #header {
    display: block !important;
}

.page {
    display: none;
}

.page.visible {
    display: block;
}

nav {
    display: flex;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    justify-content: space-around;
    z-index: 9999999;
}

.tab {
    flex-grow: 1;
    text-align: center;
    background: #0076c6;
    color: #fff;
    height: 40px;
    text-decoration: none;
}

.tab:hover,
.tab:active,
.tab:visited {
    color: white;
}

.embedded>#article {
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.margin {
    margin: 5px 0;
}


/* Not Ben's CSS */

.page nav {
    background-color: #004d82;
    position: fixed;
    margin-top: 0px;
    padding: 5px;
    top: 40px;
    left: 0px;
    width: 100%;
    justify-content: space-around;
    z-index: 9999999;
}

.page nav a {
    color: white;
}

.features {
    margin-top: 15px;
}

.features>[id^="app"]>:last-child {
    border-bottom: #ccc solid 1px;
    padding-bottom: 10px;
}

.features>div>:last-child {
    border-bottom: #ccc solid 1px;
}

.features>[id^="app"]>:last-child>div:last-child,
#pageTwo .buttonWrapper {
    display: flex;
    padding-bottom: 12px;
    border-bottom: #ccc solid 1px;
}

#feedback {
    margin-left:10px;
}

.option {
    padding-right: 30px;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.btn-primary {
    background-color: #0075c5;
}

.lessons {
    display: flex;
    flex-grow: 1;
}

.lessons>div {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.shaded {
    background-color: #D8D8D8;
}

.templateLabel {
    margin-bottom: 0px;
}

.radio-inline {
    display: flex;
    flex-direction: row;
}

.radio-label {
    padding-right: 10px;
}

.local-nav:link {
    text-decoration: none;
}

.hidden {
    display: hidden;
}

.callout {
    border: solid 1px #F2F2F2;
    padding-left: 5px;
    position: relative;
  }
  
  .callout::before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
  }
  
  .callout-header {
    padding: 5px 10px;
    margin: 0;
    font-weight: bold;
  }
  
  .callout p {
    padding: 10px;
    margin: 0;
    font-style: italic;
  }
  
  /* Blue Callout */
  .callout.blue::before {
    background-color: #3A929D;
  }
  
  .callout.blue .callout-header {
    background-color: #A7CDD4;
  }
  
  .callout.blue p {
    background-color: #E2EEF1;
  }
  
  /* Green Callout */
  .callout.green::before {
    background-color: #8B9531;
  }
  
  .callout.green .callout-header {
    background-color: #D9E69E;
  }
  
  .callout.green p {
    background-color: #EFF5D6;
  }
  
  /* Orange Callout */
  .callout.orange::before {
    background-color: #CB4A27;
  }
  
  .callout.orange .callout-header {
    background-color: #F9BA90;
  }
  
  .callout.orange p {
    background-color: #FEF0E7;
  }
  
  /* Grey Callout */
  .callout.grey::before {
    background-color: #065577;
  }
  
  .callout.grey .callout-header {
    background-color: #F1F2F2;
  }
  
  .callout.grey p {
    background-color: #FFFFFF;
  }
  
  /* Simple Callout */
  .callout.simple {
    padding: 0;
  }
  
  .callout.simple::before {
    display: none;
    background-color: #065577;
  }
  
  .callout.simple .callout-header {
    background-color: #F1F2F2;
  }
  
  .callout.simple p {
    background-color: #FFFFFF;
  }