<h2>Callout</h2>
<div>
    <p>Guidelines</p>
</div>
<div class="row">
    <div class="option">
        <h4>Select options:</h4>
        <div class="position radio-inline">
            <div *ngFor="let position of positions">
                <input type="radio" name="calloutPosition"
                    [value]="position"
                    [checked]="position==='right'"
                    (change)="changeCalloutPosition(position)">
                <label class="radio-label">{{position | capitalize}}</label>
            </div>
        </div>
        <div class="size radio-inline">
            <div *ngFor="let size of sizes">
                <input type="radio" name="calloutSize"
                    [value]="size"
                    [checked]="size==='quarter'"
                    (change)="changeCalloutSize(size)">
                <label class="radio-label">{{size | capitalize}}</label>
            </div>
        </div>
        <div *ngFor="let color of colors">
            <input type="radio" name="calloutColor"
                [value]="color"
                [checked]="color==='simple'"
                (change)="changeColor(color)">
            <label class="radio-label">{{color | capitalize}}</label>
        </div>
        <textarea placeholder="Header Text" [(ngModel)]='calloutHeader'></textarea>
        <textarea placeholder="Content Text" [(ngModel)]='calloutText'></textarea>
    </div>
    <div class="preview">
        <h4>Preview:</h4>
        <p>At vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
            augue duis dolore te feugait nulla
        <app-callout-preview
          [color]="color"
          [calloutPosition]="calloutPosition"
          [calloutSize]="calloutSize"
          [calloutHeader]="calloutHeader"
          [calloutText]="calloutText">
        </app-callout-preview>
        facilisi. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
        consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
        odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
        facilisi.
        </p>
    </div>
</div>
<div>
    <a class="Button btn btn-primary" (click)="chooseFeature()">Insert Callout</a>
</div>
