<h2>Dialog</h2>
<div>
    <p>Guidelines</p>
</div>
<div class="row">
    <div class="option">
        <h4>Select options:</h4>
        <input type="text" placeholder="Dialog Title" [(ngModel)]="dialogTitle">
        <input type="text" placeholder="Prompt Text" [(ngModel)]="dialogPrompt">
        <textarea placeholder="Content" [(ngModel)]="dialogContent"></textarea>
    </div>
    <div class="preview" id="dialogOut">
        <h4>Preview:</h4>
        <div #Preview>
            <div id="dialog_for_link_1" title="{{dialogTitle ? dialogTitle : Title}}" class="enhanceable_content dialog">
                {{dialogContent ? dialogContent : "dialog"}}
            </div>
            <p>
                <a id="link_1" class="Button">
                    {{dialogPrompt ? dialogPrompt : "prompt"}}
                </a>
            </p>
        </div>
    </div>
</div>
<div>
    <a class="Button btn btn-primary" (click)="chooseFeature()">Insert Dialog</a>
</div>
