<h2>Image</h2>
        <div>
            <p>Guidelines</p>
        </div>
        <div class="row">
            <div class="option">
                <h4>Select options:</h4>
                <div class="position radio-inline">
                    <div *ngFor="let position of positions">
                        <input type="radio" name="imagePosition"
                            [value]="position"
                            [checked]="position==='right'"
                            (change)="changeImagePosition(position)">
                        <label class="radio-label">{{position | capitalize}}</label>
                    </div>
                </div>
                <div class="size radio-inline">
                    <div *ngFor="let size of sizes">
                        <input type="radio" name="imageSize"
                            [value]="size"
                            [checked]="size==='quarter'"
                            (change)="changeImageSize(size)">
                        <label class="radio-label">{{size | capitalize}}</label>
                    </div>
                </div>
                <input type="checkbox"
                       [checked]="imageClearfix"
                       (change)="imageClearfix = !imageClearfix">
                <label for="imageClearfix">Clearfix</label>
                <input #src type="text" placeholder="Source URL"
                       (keyup.enter)="updateImageSource(src.value)"
                       (blur)="updateImageSource(src.value)">
                <input type="text" placeholder="Alt Text" [(ngModel)]="imageAlt">
                <input type="text" placeholder="Caption Text" [(ngModel)]="imageCaption">
            </div>
            <div class="preview" id="imageOut">
                <h4>Preview:</h4>
                <app-image-preview
                  [imageCaption]="imageCaption"
                  [imageSource]="imageCaption"
                  [imageAlt]="imageCaption"
                  [imagePosition]="imagePosition"
                  [imageSize]="imageSize"
                  [imageClearfix]="imageClearfix">
                </app-image-preview>
            </div>
        </div>
        <div>
            <a class="Button btn btn-primary" href="#" onclick="submitFeature('image')">Insert Image</a>
        </div>
