<h2>Image Carousel</h2>
<div>
    <p>Guidelines</p>
</div>
<div class="row">
    <div class="option">
        <h4>Select options:</h4>
        <input #slides type="string" id="numSlides" placeholder="Number of slides?"
                (keyup.enter)="updateSlideCount(slides.value)"
                (blur)="updateSlideCount(slides.value)">
            <div *ngFor="let slide of array(slideCount)">
                <input #slideSrc type="string" placeholder="Img {{slide + 1}} URL"
                id="{{slide}}"
                (keyup.enter)="updateSlide(slideSrc.value, slide)"
                (blur)="updateSlide(slideSrc.value, slide)">
                <input #slideAlt type="string" placeholder="Img {{slide + 1}} Alt text"
                id="{{slide}}"
                (keyup)="updateSlideAlt(slideAlt.value, slide)">
            </div>
    </div>
    <div class="preview" id="imgCarouselOut">
        <h4>Preview:</h4>
            <app-image-carousel-preview
                [slideAlt]="slideAlt"
                [slideCount]="slideCount"
                [slideSource]="slideSource">
            </app-image-carousel-preview>
    </div>
</div>
<div>
    <a class="Button btn btn-primary" (click)="chooseFeature()">Insert Image Carousel</a>
</div>
