<h2>Image Carousel</h2>
<div>
    <p>Guidelines</p>
</div>
<div class="row">
    <div class="option">
        <h4>Select options:</h4>
        <input #slides type="string" id="numSlides" placeholder="Number of slides?"
                (keyup)="updateSlideCount(slides.value)">
            <div *ngFor="let slide of array(slideCount)">
                <input style="margin-top:15px;" #slideSrc type="string" placeholder="Img {{slide + 1}} URL"
                id="{{slide}}"
                (keyup)="updateSlide(slideSrc.value, slide)">
                <input #slideAlt type="string" placeholder="Img {{slide + 1}} Alt text"
                id="{{slide}}"
                (keyup)="updateSlideAlt(slideAlt.value, slide)">
            </div>
    </div>
    <div class="preview" id="imgCarouselOut">
        <h4>Preview:</h4>
        <div class="carousel" #Preview>
            <div class="slide" *ngFor="let slide of array(slideCount)">
                <img alt="{{slideAlt[slide] ? slideAlt[slide] : '...'}}"
                    src="{{slideSource[slide] ? slideSource[slide] :
                      'http://1.bp.blogspot.com/-66D9avcPfZo/UO2VxdfheOI/AAAAAAAAAHw/4yf3mXCbzO4/s1600/050524TaylorBldg_6743.jpg'}}">
            </div>
        </div>
    </div>
</div>
<div>
    <a class="Button btn btn-primary" (click)="chooseFeature()">Insert Image Carousel</a>
</div>
