<h2>Video</h2>
<div>
    <p>Guidelines</p>
</div>
<div class="row">
    <div class="option">
        <h4>Select options:</h4>
        <input placeholder="Video URL" type="text" [(ngModel)]="url">
        <input placeholder="Video Title" type="text" [(ngModel)]="title">
        <input placeholder="Start Time" type="text" [(ngModel)]="startTime">
        <input placeholder="End Time" type="text" [(ngModel)]="endTime">
        <div>
            <input type="checkbox" (change)="noAudio = !noAudio" id="noaudio">
            <label>No Audio</label>
        </div>
        <input type="text"
            placeholder="HTML Transcript URL"
            [attr.disabled]="noAudio ? 'disabled' : null" value="{{noAudio ? 'N/A' : ''}}">
        <input type="text"
            placeholder="RTF Transcript URL"
            [attr.disabled]="noAudio ? 'disabled' : null" value="{{noAudio ? 'N/A' : ''}}">
        <div>
            <label>Platform</label>
            <select (change)="updateType($event.target.value)">
                <option value="kaltura">Kaltura</option>
                <option value="youtube">Youtube</option>
            </select>
        </div>
        <div>
            <label>Size</label>
            <select (change)="updateSize($event.target.value)">
                <option value="small">Small</option>
                <option selected="selected" value="medium">Medium</option>
                <option value="large">Large</option>
            </select>
        </div>
        <div>
            <label>Aspect Ratio</label>
            <select (change)="updateAspectRatio($event.target.value)">
                <option selected="selected" value="16-9">16:9</option>
                <option value="4-3">4:3</option>
            </select>
        </div>
        <div>
            <input type="checkbox" (change)="link = !link">
            <label>Render as Link</label>
        </div>
        <div>
            <input type="checkbox" (change)="download = !download">
            <label>Enable Download</label>
        </div>
        <a (click)="convert()" class="Button">
            Convert
        </a>
        <a (click)="reverseParse()" class="Button">
            Reverse
        </a>
    </div>

    <div class="preview" id="videoOut">
        <h4>Preview:</h4>
        <app-video-preview></app-video-preview>
        <div class="textOut">
            <textarea [(ngModel)]="output"></textarea>
        </div>
    </div>
</div>
<div>
    <a class="Button btn btn-primary" href="#" onclick="submitFeature('video')">Insert Video</a>
</div>
